services:
  showouet:
    container_name: ${NAME:-showouet}
    restart: ${RESTART:-unless-stopped}

    privileged: true

    build:
      context: ../../../DATA/testing-stack/showouet
      dockerfile: Dockerfile
      args:
        UID: ${PUID:-1000}
        GID: ${PGID:-1000}

    security_opt:
      - seccomp:unconfined # Nodig voor sommige GUI apps binnen Docker

    labels:
      - com.centurylinklabs.watchtower.enable=true
      - com.ouroboros.enable=true
      - autoheal=true
      - autoheal-app
      - autoheal-app=true
      - homarr-app=true
      - homarr

    environment:
      - PUID=${PUID:-1000}
      - PGID=${PGID:-1000}
      - TZ=${TZ:-Europe/Amsterdam}
      - TITLE=showouet
      - DEBUG=on  # Schakel debug output in

      - SHOWOUET_DOWNLOADS=/config/Downloads
      - SHOWOUET_FAVORIETEN=/config/Favorieten
      - SHOWOUET_CORES=/usr/lib/x86_64-linux-gnu/libretro

    volumes:
      # - /etc/localtime:/etc/localtime:ro
      # - /var/run/docker.sock:/var/run/docker.sock:ro
      # - /etc/timezone:/etc/timezone:ro
      - showouet_config:/config
      - showouet_downloads:/config/Downloads
      - showouet_favorieten:/config/Favorieten
      - ../../../DATA/testing-stack/showouet/showouet.py:/app/showouet.py

    hostname: ${NAME:-showouet}

    # user: ${PUID:-1000}:${PGID:-1000}

    networks:
      host:
      testing-services:

    ports:
      - ${PORT:-3944}:3000
      - 3945:3001

    env_file:
      - ./showouet/.env

    runtime: nvidia
    deploy:
      replicas: 1
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu, compute, video, graphics, utility]

    devices:
      - /dev/dri:/dev/dri
      - /dev/nvidia0:/dev/nvidia0
      - /dev/nvidiactl:/dev/nvidiactl
      - /dev/nvidia-modeset:/dev/nvidia-modeset

    tty: true

    stdin_open: true

    shm_size: 2gb

    # healthcheck:
    #   test:
    #     [
    #       CMD,
    #       wget,
    #       --no-verbose,
    #       --tries=3,
    #       --spider,
    #       http://localhost:${PORT:-12393}/api/health,
    #     ]
    #   interval: 30s
    #   timeout: 10s
    #   start_period: 30s
    #   retries: 3

    logging:
      driver: json-file
      options:
        max-size: 10m
        max-file: 3

