scanopy_CONTAINER_LABEL=scanopy
scanopy_DEFAULT_STOP_TIMEOUT=10
scanopy_INTERVAL=5
scanopy_ONLY_MONITOR_RUNNING=false
scanopy_START_PERIOD=0
IMAGE=ghcr.io/scanopy/scanopy/daemon:latest
NAME=scanopy
PORT=60072
RESTART=unless-stopped
