x-scanopy-env: &scanopy-env
  SCANOPY_LOG_LEVEL: ${SCANOPY_LOG_LEVEL:-info}
  SCANOPY_SERVER_PORT: ${SCANOPY_SERVER_PORT:-60072}
  SCANOPY_DAEMON_PORT: ${SCANOPY_DAEMON_PORT:-60073}

services:
  scanopy-daemon:
    image: ghcr.io/scanopy/scanopy/daemon:latest
    container_name: ${NAME:-scanopy-daemon}
    restart: ${RESTART:-unless-stopped}

    labels:
      - com.centurylinklabs.watchtower.enable=true
      - com.ouroboros.enable=true
      - autoheal=true
      - autoheal-app
      - autoheal-app=true
      - homarr-app=true
      - homarr

    environment:
      <<: *scanopy-env
      SCANOPY_SERVER_URL: ${SCANOPY_SERVER_URL:-http://127.0.0.1:60072}
      SCANOPY_PORT: ${SCANOPY_DAEMON_PORT:-60073}
      SCANOPY_BIND_ADDRESS: ${SCANOPY_BIND_ADDRESS:-0.0.0.0}
      SCANOPY_NAME: ${SCANOPY_NAME:-scanopy-daemon}
      SCANOPY_HEARTBEAT_INTERVAL: ${SCANOPY_HEARTBEAT_INTERVAL:-30}
      SCANOPY_MODE: ${SCANOPY_MODE:-Push}

      OAUTHLIB_RELAX_TOKEN_SCOPE: 1
      DOCKER_MODS: linuxserver/mods:universal-package-install|linuxserver/mods:universal-cron|lscr.io/linuxserver/mods:universal-unrar6
      # DOCKER_HOST:
      INSTALL_PACKAGES: libfuse2|git|gdb
      RESTART_APP: true

    volumes:
      - /etc/localtime:/etc/localtime:ro
      # - /etc/timezone:/etc/timezone:ro
      - /var/run/docker.sock:/var/run/docker.sock

      - scanopy_daemon-config:/root/.config/daemon

    hostname: ${NAME:-scanopy-daemon}

    # user: ${PUID:-1000}:${PGID:-1000}

    privileged: true

    networks:
      host:
      essential-services:

    ports:
      - ${SCANOPY_DAEMON_PORT:-60073}:${SCANOPY_DAEMON_PORT:-60073}

    env_file:
      - ./scanopy/.env

    deploy:
      replicas: 1
      mode: global

    tty: true

    stdin_open: true

    # shm_size: 1gb

    # healthcheck:
    #   test: [CMD-SHELL, curl -f http://localhost:${SCANOPY_DAEMON_PORT:-60073}/api/health || exit 1,]
    #   interval: 5s
    #   timeout: 3s
    #   retries: 15

    logging:
      driver: json-file
      options:
        max-size: 10m
        max-file: 3

  scanopy-postgres:
    image: postgres:17-alpine
    container_name: scanopy-postgres
    restart: unless-stopped

    labels:
      - com.centurylinklabs.watchtower.enable=true
      - com.ouroboros.enable=true
      - autoheal=true
      - autoheal-app
      - autoheal-app=true
      - homarr-app=true
      - homarr

    environment:
      POSTGRES_DB: scanopy
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-password}

      OAUTHLIB_RELAX_TOKEN_SCOPE: 1
      DOCKER_MODS: linuxserver/mods:universal-package-install|linuxserver/mods:universal-cron|lscr.io/l
      # DOCKER_HOST:
      INSTALL_PACKAGES: libfuse2|git|gdb
      RESTART_APP: true

    volumes:
      - /etc/localtime:/etc/localtime:ro
      # - /etc/timezone:/etc/timezone:ro
      - /var/run/docker.sock:/var/run/docker.sock

      - scanopy_postgres-data:/var/lib/postgresql/data

    hostname: scanopy-postgres

    # user: ${PUID:-1000}:${PGID:-1000}

    networks:
      host:
      essential-services:

        # ports:
        #   - ${SCANOPY_DAEMON_PORT:-60073}:${SCANOPY_DAEMON_PORT:-60073}

    env_file:
      - ./scanopy/.env

    healthcheck:
      test: [CMD-SHELL, pg_isready -U postgres]
      interval: 10s
      timeout: 5s
      retries: 5

    tty: true

    stdin_open: true

    # shm_size: 1gb

    # healthcheck:
    #   test:
    #     [
    #       CMD,
    #       wget,
    #       --no-verbose,
    #       --tries=3,
    #       --spider,
    #       http://localhost:${PORT:-12393}/api/health,
    #     ]
    #   interval: 30s
    #   timeout: 10s
    #   start_period: 30s
    #   retries: 3

    logging:
      driver: json-file
      options:
        max-size: 10m
        max-file: 3

  scanopy-server:
    image: ghcr.io/scanopy/scanopy/server:latest
    container_name: scanopy-server
    restart: unless-stopped

    labels:
      - com.centurylinklabs.watchtower.enable=true
      - com.ouroboros.enable=true
      - autoheal=true
      - autoheal-app
      - autoheal-app=true
      - homarr-app=true
      - homarr

    environment:
      <<: *scanopy-env
      SCANOPY_DATABASE_URL: postgresql://scanopy-postgres:${POSTGRES_PASSWORD:-password}@postgres:5432/scanopy
      SCANOPY_WEB_EXTERNAL_PATH: /app/static
      SCANOPY_PUBLIC_URL: ${SCANOPY_PUBLIC_URL:-http://localhost:${SCANOPY_SERVER_PORT:-60072}}
      # How server reaches integrated daemon
      # 172.17.0.1 is Docker's default bridge gateway. If your's is different, make sure to change it.
      SCANOPY_INTEGRATED_DAEMON_URL: http://172.17.0.1:${SCANOPY_DAEMON_PORT:-60073}

      OAUTHLIB_RELAX_TOKEN_SCOPE: 1
      DOCKER_MODS: linuxserver/mods:universal-package-install|linuxserver/mods:universal-cron|lscr.io/l
      # DOCKER_HOST:
      INSTALL_PACKAGES: libfuse2|git|gdb
      RESTART_APP: true

    volumes:
      - /etc/localtime:/etc/localtime:ro
      # - /etc/timezone:/etc/timezone:ro
      - /var/run/docker.sock:/var/run/docker.sock

      - scanopy_server-data:/data

    hostname: scanopy-server

    # user: ${PUID:-1000}:${PGID:-1000}

    networks:
      host:
      essential-services:

    ports:
      - "${SCANOPY_SERVER_PORT:-60072}:${SCANOPY_SERVER_PORT:-60072}"

    env_file:
      - ./scanopy/.env

    tty: true

    stdin_open: true

    # shm_size: 1gb

    # healthcheck:
    #   test:
    #     [
    #       CMD,
    #       wget,
    #       --no-verbose,
    #       --tries=3,
    #       --spider,
    #       http://localhost:${PORT:-12393}/api/health,
    #     ]
    #   interval: 30s
    #   timeout: 10s
    #   start_period: 30s
    #   retries: 3

    logging:
      driver: json-file
      options:
        max-size: 10m
        max-file: 3

    depends_on:
      scanopy-postgres:
        condition: service_healthy
      scanopy-daemon:
        condition: service_healthy
