services:
  project-zomboid:
    container_name: ${NAME:-project-zomboid}
    restart: ${RESTART:-unless-stopped}

    build:
      context: ../../../DATA/testing-stack/project-zomboid
      dockerfile: Dockerfile
      args:
        UID: ${PUID:-1000}
        GID: ${PGID:-1000}

    security_opt:
      - seccomp:unconfined # Nodig voor sommige GUI apps binnen Docker

    labels:
      - com.centurylinklabs.watchtower.enable=true
      - com.ouroboros.enable=true
      - autoheal=true
      - autoheal-app
      - autoheal-app=true
      - homarr-app=true
      - homarr

    environment:
      - PUID=${PUID:-1000}
      - PGID=${PGID:-1000}
      - TZ=${TZ:-Europe/Amsterdam}
      - SUBFOLDER=/
      - TITLE=project-zomboid

    volumes:
      - /etc/localtime:/etc/localtime:ro
      # - /etc/timezone:/etc/timezone:ro
      - /var/run/docker.sock:/var/run/docker.sock

      - project-zomboid_config:/config
      - project-zomboid_scripts:/custom-cont-init.d

    hostname: ${NAME:-project-zomboid}

    # user: ${PUID:-1000}:${PGID:-1000}

    networks:
      host:
      testing-services:

    ports:
      - ${PORT:-3000}:3000
      - 3001:3001
      - 16261:16261/udp

    env_file:
      - ./project-zomboid/.env

    # runtime: nvidia
    # deploy:
    #   replicas: 1
    #   resources:
    #     reservations:
    #       devices:
    #         - driver: nvidia
    #           count: all
    #           capabilities: [gpu, compute, video, graphics, utility]

    tty: true

    stdin_open: true

    shm_size: 2gb

    # healthcheck:
    #   test:
    #     [
    #       CMD,
    #       wget,
    #       --no-verbose,
    #       --tries=3,
    #       --spider,
    #       http://localhost:${PORT:-12393}/api/health,
    #     ]
    #   interval: 30s
    #   timeout: 10s
    #   start_period: 30s
    #   retries: 3

    logging:
      driver: json-file
      options:
        max-size: 10m
        max-file: 3
