services:
  hishtory-server:
    image: ${IMAGE:-lscr.io/linuxserver/hishtory-server:latest}
    container_name: ${NAME:-hishtory-server}
    restart: ${RESTART:-unless-stopped}

    labels:
      - com.centurylinklabs.watchtower.enable=true
      - com.ouroboros.enable=true
      - autoheal-app
      - autoheal-app=true
      - homarr-app=true
      - homarr

    environment:
      - PUID=${PUID:-1000}
      - PGID=${PGID:-1000}
      - TZ=${TZ:-Europe/Amsterdam}
      # optional
      - HISHTORY_POSTGRES_DB=postgresql://${HISHTORY_DB_USER:-hishtory}:${HISHTORY_DB_PASS:-hishtory}@hishtory-db:5432/hishtory?sslmode=disable
      - HISHTORY_SQLITE_DB=/config/hishtory.db
      - HISHTORY_DB_USER=hishtory
      - HISHTORY_DB_PASS=hishtory

      - OAUTHLIB_RELAX_TOKEN_SCOPE=1
      - DOCKER_MODS=linuxserver/mods:universal-package-install
      - INSTALL_PACKAGES=libfuse2|git|gdb
      - RESTART_APP=true

    volumes:
      # - /etc/localtime:/etc/localtime:ro
      # - /etc/timezone:/etc/timezone:ro
      - /var/run/docker.sock:/var/run/docker.sock

      # optional
      - ../../../DATA/essential-stack/hishtory-server/hishtory-server_data/history.db:/config/hishtory.db

    hostname: ${NAME:-hishtory-server}

    # user: ${PUID:-1000}:${PGID:-1000}

    networks:
      host:
      essential-services:

    ports:
      - ${PORT:-5632}:8080

    env_file:
      - ./hishtory-server/.env

    deploy:
      replicas: 1

    tty: true

    stdin_open: true

    # healthcheck:
    #   test: CMD curl -f http://localhost:${PORT:-8088}/health
    #   interval: 30s
    #   timeout: 10s
    #   start_period: 30s
    #   retries: 3

    logging:
      driver: json-file
      options:
        max-size: 10m
        max-file: 3
