services:
  nzbget:
    # image: ${IMAGE:-t41372/open-llm-vtuber}
    image: ${IMAGE:-lscr.io/linuxserver/nzbget:latest}
    container_name: ${NAME:-nzbget}
    restart: ${RESTART:-unless-stopped}

    labels:
      - com.centurylinklabs.watchtower.enable=true
      - com.ouroboros.enable=true
      - autoheal-app
      - autoheal-app=true
      - homarr-app=true
      - homarr

    environment:
      - PUID=${PUID:-1000}
      - PGID=${PGID:-1000}
      - TZ=${TZ:-Europe/Amsterdam}
      - RESTART_APP=true
      # optional
      - NZBGET_USER=nzbget
      - NZBGET_PASS=tegbzn6789

    volumes:
      # - /etc/localtime:/etc/localtime:ro
      # - /etc/timezone:/etc/timezone:ro
      - /var/run/docker.sock:/var/run/docker.sock

      - nzbget_config:/config
      # optional:
      - nzbget_downloads:/downloads
      - nzbget_watchfolder:/watchfolder

    hostname: ${NAME:-nzbget}

    # user: ${PUID:-1000}:${PGID:-1000}

    networks:
      host:
      downloader-services:

    ports:
      - ${PORT:-6789}:6789

    env_file:
      - ./nzbget/.env

    # command:
    #   - -iwad /usr/share/nzbget/doom2.wad -file /usr/share/nzbget/DOOM_Infinite_098_PP2_H3.pk3

    runtime: nvidia
    deploy:
      replicas: 1
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu, compute, video, graphics, utility]

    # depends_on:
    #   - faster-whisper-gpu
    #   - wyoming-piper

    tty: true

    stdin_open: true

    shm_size: 1gb

    # healthcheck:
    #   test:
    #     [
    #       CMD,
    #       wget,
    #       --no-verbose,
    #       --tries=3,
    #       --spider,
    #       http://localhost:${PORT:-12393}/api/health,
    #     ]
    #   interval: 30s
    #   timeout: 10s
    #   start_period: 30s
    #   retries: 3

    logging:
      driver: json-file
      options:
        max-size: 10m
        max-file: 3
