services:
  llmstack-api:
    image: llmstack-api:latest
    command: apiserver
    volumes:
      - llmstack_code:/code/llmstack
      - llmstack_userdata:/home/appuser/data

    links:
      - llmstack-postgres:postgres

    ports:
      - 9000:9000

    expose:
      - 9000

    env_file:
      - ./llmstack/.env

    cap_add:
      - SYS_PTRACE

  llmstack-rqworker:
    image: llmstack-api:latest
    command: rqworker

    volumes:
      # - /etc/localtime:/etc/localtime:ro
      # - /etc/timezone:/etc/timezone:ro
      - /var/run/docker.sock:/var/run/docker.sock

      - llmstack_code:/code/llmstack
      - llmstack_userdata:/home/appuser/data

    depends_on:
      - llmstack-redis
      - llmstack-postgres

    links:
      - llmstack-redis:redis
      - llmstack-postgres:postgres

    env_file:
      - ./llmstack/.env

  llmastack-app:
    image: llmstack-app:latest
    ports:
      - 3000:8086

    env_file:
      - ./llmstack/.env

    depends_on:
      - llmstack-api

    volumes:
      - llmstack_userdata:/usr/share/nginx/html/media

  llmstack-redis:
    image: redis:latest

    ports:
      - 26379:6379

    command: redis-server

    restart: unless-stopped

    volumes:
      # - /etc/localtime:/etc/localtime:ro
      # - /etc/timezone:/etc/timezone:ro
      - /var/run/docker.sock:/var/run/docker.sock

      - llmstack_redis_data:/data

    env_file:
      - ./llmstack/.env

  llmstack-runner:
    image: langrocks-web-browser:latest

    env_file:
      - ./llmstack/.env

    ports:
      - 50051:50051
      - 50052:50052
      - 50053:50053

  llmstack-postgres:
    image: postgres:16-alpine
    ports:
      - 25432:5432
    command: postgres -c fsync=off -c full_page_writes=off -c synchronous_commit=OFF
    restart: unless-stopped

    volumes:
      # - /etc/localtime:/etc/localtime:ro
      # - /etc/timezone:/etc/timezone:ro
      - /var/run/docker.sock:/var/run/docker.sock

      - llmstack_postgres_data:/var/lib/postgresql/data

    environment:
      - PUID=${PUID:-1000}
      - PGID=${PGID:-1000}
      - TZ=${TZ:-Europe/Amsterdam}
      - POSTGRES_HOST_AUTH_METHOD=trust
      - POSTGRES_USER=${DATABASE_USERNAME:-postgres}
      - POSTGRES_PASSWORD=${DATABASE_PASSWORD:-}
      - PGDATA=/var/lib/postgresql/data/pgdata

    env_file:
      - ./llmstack/.env

  llmstack-weaviate:
    image: semitechnologies/weaviate:1.25.7

    ports:
      - 28080:8080

    volumes:
      - llmstack_weaviate_data:/var/lib/weaviate

    environment:
      - PUID=${PUID:-1000}
      - PGID=${PGID:-1000}
      - TZ=${TZ:-Europe/Amsterdam}
      - QUERY_DEFAULTS_LIMIT=20
      - AUTHENTICATION_ANONYMOUS_ACCESS_ENABLED=true
      - PERSISTENCE_DATA_PATH=/var/lib/weaviate
      - DEFAULT_VECTORIZER_MODULE=text2vec-openai
      - ENABLE_MODULES=text2vec-openai
      - CLUSTER_HOSTNAME=weaviate-node
      - LOG_LEVEL=error

    env_file:
      - ./llmstack/.env
