services:
  dozzle-agent:
    image: amir20/dozzle:latest
    container_name: dozzle-agent
    restart: ${RESTART:-unless-stopped}

    labels:
      - com.centurylinklabs.watchtower.enable=true
      - com.ouroboros.enable=true
      - autoheal-app
      - autoheal-app=true
      - homarr-app=true
      - homarr

    environment:
      - PUID=${PUID:-1000}
      - PGID=${PGID:-1000}
      - TZ=${TZ:-Europe/Amsterdam}

      - OAUTHLIB_RELAX_TOKEN_SCOPE=1
      - DOCKER_MODS=linuxserver/mods:universal-package-install|linuxserver/mods:universal-apprise|linuxserver/mods:universal-cron|linuxserver/mods:universal-internationalization|linuxserver/mods:universal-stdout-logs|lscr.io/linuxserver/mods:universal-unrar6
      # - DOCKER_HOST=
      - INSTALL_PACKAGES=libfuse2|git|gdb
      - RESTART_APP=true

      - DOZZLE_HOSTNAME=${REMOTE_HOSTNAME:-localhost}

    volumes:
      - /etc/localtime:/etc/localtime:ro
      # - /etc/timezone:/etc/timezone:ro
      - /var/run/docker.sock:/var/run/docker.sock

    hostname: ${NAME:-dozzle-agent}

    # user: ${PUID:-1000}:${PGID:-1000}

    command: agent

    networks:
      host:
      essential-services:


    ports:
      - 7007:7007

    env_file:
      - ./dozzle/.env

    healthcheck:
      test: [ CMD, /dozzle, healthcheck ]
      interval: 5s
      retries: 5
      start_period: 5s
      start_interval: 5s

    tty: true

    stdin_open: true

    # shm_size: 1gb

    # healthcheck:
    #   test:
    #     [
    #       CMD,
    #       wget,
    #       --no-verbose,
    #       --tries=3,
    #       --spider,
    #       http://localhost:${PORT:-12393}/api/health,
    #     ]
    #   interval: 30s
    #   timeout: 10s
    #   start_period: 30s
    #   retries: 3

    logging:
      driver: json-file
      options:
        max-size: 10m
        max-file: 3

  dozzle-ui:
    image: ${IMAGE:-ghcr.io/amir20/dozzle:latest}
    container_name: ${NAME:-dozzle-ui}
    restart: ${RESTART:-unless-stopped}

    labels:
      - com.centurylinklabs.watchtower.enable=true
      - com.ouroboros.enable=true
      - autoheal-app
      - autoheal-app=true
      - homarr-app=true
      - homarr

    environment:
      - PUID=${PUID:-1000}
      - PGID=${PGID:-1000}
      - TZ=${TZ:-Europe/Amsterdam}

      - OAUTHLIB_RELAX_TOKEN_SCOPE=1
      - DOCKER_MODS=linuxserver/mods:universal-package-install|linuxserver/mods:universal-apprise|linuxserver/mods:universal-cron|linuxserver/mods:universal-internationalization|linuxserver/mods:universal-stdout-logs|lscr.io/linuxserver/mods:universal-unrar6
      # - DOCKER_HOST=
      - INSTALL_PACKAGES=libfuse2|git|gdb
      - RESTART_APP=true

      # - DOZZLE_MODE=swarm
      - DOZZLE_ENABLE_ACTIONS=true
      - DOZZLE_ENABLE_SHELL=true
      # - DOZZLE_AUTH_PROVIDER=simple
      - DOZZLE_REMOTE_AGENT=${REMOTE_HOSTNAME:-localhost}:7007
      - DOZZLE_HOSTNAME=${REMOTE_HOSTNAME:-localhost}:7007

    volumes:
      - /etc/localtime:/etc/localtime:ro
      # - /etc/timezone:/etc/timezone:ro
      - /var/run/docker.sock:/var/run/docker.sock

      - dozzle_data:/data
      - dozzle_certs:/certs

    hostname: ${NAME:-dozzle-ui}

    # user: ${PUID:-1000}:${PGID:-1000}

    depends_on:
      - dozzle-agent

    networks:
      host:
      essential-services:


    ports:
      - ${PORT:-8082}:8080

    env_file:
      - ./dozzle/.env

    deploy:
      replicas: 1
      mode: global

    tty: true

    stdin_open: true

    # shm_size: 1gb

    healthcheck:
      test: [ CMD, /dozzle, healthcheck ]
      interval: 3s
      timeout: 30s
      retries: 5
      start_period: 30s

    logging:
      driver: json-file
      options:
        max-size: 10m
        max-file: 3
