<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".yml" mimeType="text/yaml" />
            <mimeMap fileExtension=".pls" mimeType="audio/x-scpls" />
            <mimeMap fileExtension=".rss" mimeType="application/rss+xml" />
            <mimeMap fileExtension=".webp" mimeType="image/webp" />
        </staticContent>
    </system.webServer>
</configuration>
