
ai-stack/basic-memory
ai-stack/basic-memory/knowledge
ai-stack/comfyUI-manager
ai-stack/dart-mcp-server
ai-stack/faster-whisper
ai-stack/home-assistant
ai-stack/letta
ai-stack/markdownify-mcp
ai-stack/mcp-discord
ai-stack/mcp-openweather
ai-stack/mcp-servers
ai-stack/mcp-wolfram-alpha
ai-stack/ollama
ai-stack/open-llm-vtuber
ai-stack/open-webui
ai-stack/searxng
ai-stack/stable-diffusion-webui-docker
ai-stack/swarmui
ai-stack/whisper
ai-stack/wyoming-piper
management-stack/dockge
management-stack/n8n
management-stack/nextcloud
management-stack/nextclouddb
management-stack/nginx-proxy-manager
management-stack/portainer
management-stack/portracker
management-stack/redis
management-stack/uptime-kuma
media-stack/calibre-web
media-stack/calibre-web/calibre-library
media-stack/jellyseerr
media-stack/mylar3
media-stack/organizr
media-stack/overseerr
media-stack/plex
media-stack/requestrr
media-stack/retroarch
media-stack/tvs99
media-stack/webrcade
media-stack/whisparr