clair_CONTAINER_LABEL=clair
clair_DEFAULT_STOP_TIMEOUT=10
clair_INTERVAL=5
clair_ONLY_MONITOR_RUNNING=false
clair_START_PERIOD=0
IMAGE=ghcr.io/clair/clair/daemon:latest
NAME=clair
PORT=60072
RESTART=unless-stopped
