services:
  jellyseerr:
    image: ${IMAGE:-fallenbagel/jellyseerr}
    container_name: ${NAME:-jellyseerr}
    restart: ${RESTART:-unless-stopped}

    labels:
      - com.centurylinklabs.watchtower.enable=true
      - com.ouroboros.enable=true
      - autoheal-app
      - autoheal-app=true
      - homarr-app=true
      - homarr

    environment:
      - PUID=${PUID:-1000}
      - PGID=${PGID:-1000}
      - TZ=${TZ:-Europe/Amsterdam}
      - LOG_LEVEL=${PORT:-debug}
      - PORT=${PORT:-5055}

    volumes:
      # - /etc/localtime:/etc/localtime:ro
      # - /etc/timezone:/etc/timezone:ro
      - /var/run/docker.sock:/var/run/docker.sock

      - jellyseerr_config:/app/config
      - jellyseerr_appdata:/app

    hostname: ${NAME:-jellyseerr}

    # user: ${PUID:-1000}:${PGID:-1000}

    networks:
      host:
      arr-services:

    ports:
      - ${PORT:-5055}:5055

    env_file:
      - ./jellyseerr/.env

    deploy:
      replicas: 1

    tty: true

    stdin_open: true

    # healthcheck:
    #   test:
    #     [
    #       CMD,
    #       wget,
    #       --no-verbose,
    #       --tries=3,
    #       --spider,
    #       http://localhostst:${PORT:-5055}/api/health,
    #     ]
    #   interval: 30s
    #   timeout: 10s
    #   start_period: 30s
    #   retries: 3

    logging:
      driver: json-file
      options:
        max-size: 10m
        max-file: 3
