COMFYUI_BASE_URL=http://0.0.0.0:7860
ENABLE_IMAGE_GENERATION=True
IMAGE=ollama/ollama:latest
NAME=ollama
OLLAMA_KEEP_ALIVE=1h
OLLAMA_MODELS=/root/.ollama/models
OLLAMA_VULKAN=1
PGID=1000
PORT=11434
PUID=1000
RESTART=unless-stopped
COMFYUI_BASE_URL=http://${IP_ADDRESS}:8188
