COMFYUI_BASE_URL=http://0.0.0.0:8188
ENABLE_IMAGE_GENERATION=True
IMAGE=ollama/ollama:latest
NAME=ollama
OLLAMA_KEEP_ALIVE=1h
OLLAMA_MODELS=/root/.ollama/models
OLLAMA_VULKAN=1
OLLAMA_NUM_PARALLEL=4
PGID=1000
PORT=11444
PUID=1000
RESTART=unless-stopped
