COMFYUI_BASE_URL=http://0.0.0.0:7860
ENABLE_IMAGE_GENERATION=True
IMAGE=ollama/ollama
NAME=ollama
OLLAMA_KEEP_ALIVE=1h
OLLAMA_VULKAN=1
OLLAMA_MODELS=/root/.ollama/models
PGID=1000
PORT=11434
PUID=1000
RESTART=unless-stopped
