services:
  it-tools:
    image: ${IMAGE:-corentinth/it-tools:latest}
    container_name: ${NAME:-it-tools}
    restart: ${RESTART:-unless-stopped}

    labels:
      - com.centurylinklabs.watchtower.enable=true
      - com.ouroboros.enable=true
      - autoheal-app
      - autoheal-app=true
      - homarr-app=true
      - homarr

    environment:
      - PUID=${PUID:-1000}
      - PGID=${PGID:-1000}
      - TZ=${TZ:-Europe/Amsterdam}
      - PORT=${PORT:-8088}

    volumes:
      # - /etc/localtime:/etc/localtime:ro
      # - /etc/timezone:/etc/timezone:ro
      - /var/run/docker.sock:/var/run/docker.sock

    hostname: ${NAME:-it-tools}

    # user: ${PUID:-1000}:${PGID:-1000}

    networks:
      host:
      essential-services:

    ports:
      - ${PORT:-8088}:80

    env_file:
      - ./it-tools/.env

    deploy:
      replicas: 1

    tty: true

    stdin_open: true

    shm_size: 1gb

    # healthcheck:
    #   test: CMD curl -f http://localhost:${PORT:-8088}/health
    #   interval: 30s
    #   timeout: 10s
    #   start_period: 30s
    #   retries: 3

    logging:
      driver: json-file
      options:
        max-size: 10m
        max-file: 3
