services:
  veloren-server:
    # image: ${IMAGE:-t41372/open-llm-vtuber}
    image: ${IMAGE:-registry.gitlab.com/veloren/veloren/server-cli:weekly}
    container_name: ${NAME:-veloren-server}
    restart: ${RESTART:-unless-stopped}

    labels:
      - com.centurylinklabs.watchtower.enable=true
      - com.ouroboros.enable=true
      - autoheal-app
      - autoheal-app=true
      - homarr-app=true
      - homarr

    environment:
      - PUID=${PUID:-1000}
      - PGID=${PGID:-1000}
      - TZ=${TZ:-Europe/Amsterdam}

      - OAUTHLIB_RELAX_TOKEN_SCOPE=1
      - DOCKER_MODS=linuxserver/mods:universal-package-install|linuxserver/mods:universal-apprise|linuxserver/mods:universal-cron|linuxserver/mods:universal-internationalization|linuxserver/mods:universal-stdout-logs|lscr.io/linuxserver/mods:universal-unrar6
      # - DOCKER_HOST=
      - INSTALL_PACKAGES=libfuse2|git|gdb
      - RESTART_APP=true
      # - RUST_LOG=debug,common::net=info

    volumes:
      - /etc/localtime:/etc/localtime:ro
      # - /etc/timezone:/etc/timezone:ro
      - /var/run/docker.sock:/var/run/docker.sock

      - veloren-server_userdata:/opt/userdata

    hostname: ${NAME:-veloren-server}

    # user: ${PUID:-1000}:${PGID:-1000}

    networks:
      host:
      gameserver-services:

    ports:
      - 14004:14004
      - 14005:14005
      - 14006:14006/udp

    env_file:
      - ./veloren-server/.env

    # command:
    #   - -iwad /usr/share/veloren-server/doom2.wad -file /usr/share/veloren-server/DOOM_Infinite_098_PP2_H3.pk3

    # runtime: nvidia
    # deploy:
    #   replicas: 1
    #   resources:
    #     reservations:
    #       devices:
    #         - driver: nvidia
    #           count: all
    #           capabilities: [gpu, compute, video, graphics, utility]

    tty: true

    stdin_open: true

    # shm_size: 1gb

    # healthcheck:
    #   test:
    #     [
    #       CMD,
    #       wget,
    #       --no-verbose,
    #       --tries=3,
    #       --spider,
    #       http://localhost:${PORT:-12393}/api/health,
    #     ]
    #   interval: 30s
    #   timeout: 10s
    #   start_period: 30s
    #   retries: 3

    logging:
      driver: json-file
      options:
        max-size: 10m
        max-file: 3

  veloren-watchtower:
    image: containrrr/watchtower
    container_name: veloren-watchtower
    hostname: veloren-watchtower
    restart: ${RESTART:-unless-stopped}

    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

    command: --interval 30 --stop-timeout 130s --cleanup veloren-game-server-master

    networks:
      host:
      gameserver-services:

