DEFAULT_MODEL=
IMAGE=ghcr.io/ivanfioravanti/chatbot-ollama:main
NAME=chatbot-ollama
NEXT_PUBLIC_API_TIMEOUT=600000
OLLAMA_HOST=http://192.168.178.63:11434
PGID=1000
PORT=3039
PUID=1000
RESTART=always
