services:
  dtop:
    image: ${IMAGE:-ghcr.io/amir20/dtop:latest}
    container_name: ${NAME:-dtop}
    restart: ${RESTART:-unless-stopped}

    labels:
      - com.centurylinklabs.watchtower.enable=true
      - com.ouroboros.enable=true
      - autoheal-app
      - autoheal-app=true
      - homarr-app=true
      - homarr

    environment:
      - PUID=${PUID:-1000}
      - PGID=${PGID:-1000}
      - TZ=${TZ:-Europe/Amsterdam}
      - PORT=${PORT:-8040}
      # - dtop_MODE=swarm

    volumes:
      # - /etc/localtime:/etc/localtime:ro
      # - /etc/timezone:/etc/timezone:ro
      - /var/run/docker.sock:/var/run/docker.sock

      - dtop_data:/data

    hostname: ${NAME:-dtop}

    # user: ${PUID:-1000}:${PGID:-1000}

    networks:
      host:
      essential-services:

    ports:
      - ${PORT:-8040}:8040

    env_file:
      - ./dtop/.env

    deploy:
      replicas: 1
      mode: global

    tty: true

    stdin_open: true

    # healthcheck:
    #   test: CMD curl -f http://localhost:${PORT:-8040}/health
    #   interval: 30s
    #   timeout: 10s
    #   start_period: 30s
    #   retries: 3

    logging:
      driver: json-file
      options:
        max-size: 10m
        max-file: 3
