services:
  swarmui:
    # image: ${IMAGE:-SwarmUI}
    container_name: ${NAME:-SwarmUI}
    restart: ${RESTART:-unless-stopped}

    # user: ${PUID:-1000}:${PGID:-1000}

    build:
      context: ../../../DATA/ai-stack/SwarmUI
      dockerfile: Dockerfile
      args:
        UID: ${PUID:-1000}
        GID: ${PGID:-1000}

    labels:
      - com.centurylinklabs.watchtower.enable=true
      - com.ouroboros.enable=true
      - autoheal=true
      - autoheal-app
      - autoheal-app=true
      - homarr-app=true
      - homarr

    environment:
      - PUID=${PUID:-1000}
      - PGID=${PGID:-1000}
      - TZ=${TZ:-Europe/Amsterdam}

    volumes:
      - /etc/localtime:/etc/localtime:ro
      # - /etc/timezone:/etc/timezone:ro
      - /var/run/docker.sock:/var/run/docker.sock

      - SwarmUI_data:/SwarmUI/Data
      - ComfyUI_models:/SwarmUI/dlbuild/ComfyUI/models
      - ComfyUI_output:/SwarmUI/dlbuild/ComfyUI/output

    hostname: ${NAME:-SwarmUI}

    networks:
      host:
      ai-services:

    ports:
      - ${PORT:-7801}:7801
      - 8189:8188

    env_file:
      - ./SwarmUI/.env

    cap_drop:
      - ALL

    runtime: nvidia
    deploy:
      replicas: 1
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu, compute, video, graphics, utility]

    tty: true

    stdin_open: true

    # shm_size: 1gb

    # healthcheck:
    #   test: [CMD, curl, -f, http://localhost:7801/]
    #   interval: 45s
    #   timeout: 10s
    #   retries: 3
    #   start_period: 120s

    logging:
      driver: json-file
      options:
        max-size: 10m
        max-file: 3
