x-common:
  pterodactyl-database:
    # Do not remove the &db-password from the end of the line below, it is important
    # for Panel functionality.
    &db-environment
    MYSQL_PASSWORD: &db-password pterodactyl
    MYSQL_DATABASE: ${DB_DATABASE:-pterodactyl}
    MYSQL_ROOT_PASSWORD: ${DB_PASSWORD:-pterodactyl}
    MYSQL_USER: ${DB_USERNAME:-pterodactyl}
    SERVICE_TAGS: dev
    SERVICE_NAME: mysql
  pterodactyl-panel: &panel-environment
    APP_URL: http://example.com
    # A list of valid timezones can be found here: http://php.net/manual/en/timezones.php
    APP_TIMEZONE: UTC
    APP_SERVICE_AUTHOR: noreply@example.com
    # Uncomment the line below and set to a non-empty value if you want to use Let's Encrypt
    # to generate an SSL certificate for the Panel.
    # LE_EMAIL:
  pterodactyl-mail: &mail-environment
    MAIL_FROM: noreply@example.com
    MAIL_DRIVER: smtp
    MAIL_HOST: mail
    MAIL_PORT: 1025
    MAIL_USERNAME:
    MAIL_PASSWORD:
    MAIL_ENCRYPTION: true

#
# ------------------------------------------------------------------------------------------
# DANGER ZONE BELOW
#
# The remainder of this file likely does not need to be changed. Please only make modifications
# below if you understand what you are doing.
#
services:
  pterodactyl-database:
    image: mariadb:10.5
    container_name: pterodactyl-database
    restart: ${RESTART:-unless-stopped}

    labels:
      - com.centurylinklabs.watchtower.enable=true
      - com.ouroboros.enable=true
      - autoheal-app
      - autoheal-app=true
      - homarr-app=true
      - homarr

    volumes:
      - pterodactyl_database:/var/lib/mysql

    environment:
      <<: *db-environment

    command: --default-authentication-plugin=mysql_native_password
    # command: --innodb_buffer_pool_size=5M --innodb_log_buffer_size=256K --max_connections=10 --key_buffer_size=8 --thread_cache_size=0 --host_cache_size=0
    # command: --innodb_ft_cache_size=1600000 --innodb_ft_total_cache_size=32000000 --thread_stack=131072 --sort_buffer_size=32K --read_buffer_size=8200
    # command: --read_rnd_buffer_size=8200 --max_heap_table_size=16K --tmp_table_size=1K --bulk_insert_buffer_size=0 --join_buffer_size=128
    # command: --net_buffer_length=1K --innodb_sort_buffer_size=64K --binlog_cache_size=4K --binlog_stmt_cache_size=4K --performance_schema=off

    networks:
      host:
      gameserver-services:

    env_file:
      - ./pterodactyl/.env

    tty: true

    stdin_open: true

    # shm_size: 1gb

    # healthcheck:
    #   test:
    #     [
    #       CMD,
    #       wget,
    #       --no-verbose,
    #       --tries=3,
    #       --spider,
    #       http://localhost:${PORT:-12393}/api/health,
    #     ]
    #   interval: 30s
    #   timeout: 10s
    #   start_period: 30s
    #   retries: 3

    logging:
      driver: json-file
      options:
        max-size: 10m
        max-file: 3

  pterodactyl-redis:
    image: redis:latest
    container_name: pterodactyl-redis
    ports:
      - 6379:6379
    networks:
      - pterry
    restart: always

  pterodactyl-cache:
    image: redis:alpine
    restart: always
    container_name: pterodactyl-cache

    networks:
      host:
      gameserver-services:

    env_file:
      - ./pterodactyl/.env

    tty: true

    stdin_open: true

    # shm_size: 1gb

    # healthcheck:
    #   test:
    #     [
    #       CMD,
    #       wget,
    #       --no-verbose,
    #       --tries=3,
    #       --spider,
    #       http://localhost:${PORT:-12393}/api/health,
    #     ]
    #   interval: 30s
    #   timeout: 10s
    #   start_period: 30s
    #   retries: 3

    logging:
      driver: json-file
      options:
        max-size: 10m
        max-file: 3

  pterodactyl-panel:
    image: ghcr.io/pterodactyl/panel:latest
    restart: always
    container_name: pterodactyl-panel

    ports:
      - 3949:80
      - 4340:443

    links:
      - pterodactyl-database
      - pterodactyl-cache

    volumes:
      - pterodactyl_var:/app/var/
      - pterodactyl_nginx:/etc/nginx/http.d/
      - pterodactyl_certs:/etc/letsencrypt/
      - pterodactyl_logs:/app/storage/logs

    environment:
      <<: [*panel-environment, *mail-environment]
      DB_PASSWORD: *db-password
      APP_ENV: production
      APP_ENVIRONMENT_ONLY: false
      CACHE_DRIVER: redis
      SESSION_DRIVER: redis
      QUEUE_DRIVER: redis
      REDIS_HOST: pterodactyl-cache
      DB_HOST: pterodactyl-database
      DB_PORT: 3306

    networks:
      host:
      gameserver-services:

    env_file:
      - ./pterodactyl/.env

    tty: true

    stdin_open: true

    # shm_size: 1gb

    # healthcheck:
    #   test:
    #     [
    #       CMD,
    #       wget,
    #       --no-verbose,
    #       --tries=3,
    #       --spider,
    #       http://localhost:${PORT:-12393}/api/health,
    #     ]
    #   interval: 30s
    #   timeout: 10s
    #   start_period: 30s
    #   retries: 3

    logging:
      driver: json-file
      options:
        max-size: 10m
        max-file: 3

  wings:
    image: ghcr.io/pterodactyl/wings:latest
    container_name: wings
    restart: always

    env_file:
      - ./pterodactyl/.env

    networks:
      host:
      gameserver-services:

    ports:
      - 2022:2022

    tty: true

    environment:
      TZ: "UTC"
      WINGS_UID: 988
      WINGS_GID: 988
      WINGS_USERNAME: pterodactyl

    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/lib/docker/containers/:/var/lib/docker/containers/

      # - /tmp/pterodactyl/:/tmp/pterodactyl/
      # - /var/lib/pterodactyl/:/var/lib/pterodactyl/

      # - ./system/certbot/conf/live/good-spiders.com/fullchain.pem:/etc/letsencrypt/live/wings.good-spiders.com/fullchain.pem:ro
      # - ./system/certbot/conf/live/good-spiders.com/privkey.pem:/etc/letsencrypt/live/wings.good-spiders.com/privkey.pem:ro
      # - ./game-servers/wings/data/wings/etc/:/etc/pterodactyl/
      # - ./game-servers/wings/logs:/var/log/pterodactyl/
      # - ./game-servers/wings/data:/data

    depends_on:
      - pterodactyl-panel
