services:
  pterodactyl-database:
    image: mariadb:10.11
    restart: always
    command: --default-authentication-plugin=mysql_native_password
    container_name: pterodactyl-database

    volumes:
      - pterodactyl_database:/var/lib/mysql

    environment:
      MYSQL_DATABASE: pterodactyl-panel
      MYSQL_USER: ${MYSQL_USER:-pterodactyl}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD:-pterodactyl}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD:-pterodactyl}

  pterodactyl-cache:
    image: redis:7-alpine
    restart: always
    container_name: pterodactyl-cache

  pterodactyl-panel:
    image: ghcr.io/pterodactyl/panel:latest
    restart: always
    container_name: pterodactyl-panel

    ports:
      - ${PORT:-80}:80
      - 443:443

    links:
      - database
      - cache

    volumes:
      - pterodactyl_var/:/app/var/
      - pterodactyl_nginx:/etc/nginx/http.d/

    environment:
      APP_URL: http://${IP_ADDRESS}:${PORT:-80}
      DB_PASSWORD: ${MYSQL_PASSWORD:-pterodactyl}
      # Zie de [Pterodactyl Documentatie](https://pterodactyl.io) voor alle env variabelen

