services:
  dashy:
    image: ${IMAGE:-lissy93/dashy}
    container_name: ${NAME:-dashy}
    restart: ${RESTART:-unless-stopped}

    labels:
      - com.centurylinklabs.watchtower.enable=true
      - com.ouroboros.enable=true
      - autoheal-app
      - autoheal-app=true
      - homarr-app=true
      - homarr

    environment:
      - PUID=${PUID:-1000}
      - PGID=${PGID:-1000}
      - TZ=${TZ:-Europe/Amsterdam}
      - NODE_ENV=production
      - PORT=${PORT:-8383}
      # - VUE_APP_ADMINPASSWORD=${VUE_APP_ADMINPASSWORD:-admin}

    volumes:
      # - /etc/localtime:/etc/localtime:ro
      # - /etc/timezone:/etc/timezone:ro
      - /var/run/docker.sock:/var/run/docker.sock

      # - dashy_config:/app/user-data/conf.yml
      - dashy_data:/app/user-data

    hostname: ${NAME:-dashy}

    # user: ${PUID:-1000}:${PGID:-1000}

    networks:
      host:
      essential-services:

    ports:
      - ${PORT:-8383}:8383

    env_file:
      - ./dashy/.env

    deploy:
      replicas: 1

    # healthcheck:
    #   test: CMD curl -f http://0.0.0.0{PORT:-8383}/health
    #   interval: 30s
    #   timeout: 10s
    #   start_period: 30s
    #   retries: 3

    logging:
      driver: json-file
      options:
        max-size: 10m
        max-file: 3
