IMAGE=docker.litellm.ai/berriai/litellm:main-stable
NAME=litellm
PGID=1000
PORT=4000
PUID=1000
RESTART=unless-stopped
LITELLM_MASTER_KEY="admin"
UI_USERNAME="admin"
UI_PASSWORD="admin"
# DOCS_URL="/docs"
# ROOT_REDIRECT_URL="/ui"
# DISABLE_ADMIN_UI="True"