services:
  pico_sorter:
    # image: ${IMAGE:-t41372/open-llm-vtuber}
    container_name: ${NAME:-pico_sorter}
    restart: ${RESTART:-unless-stopped}

    build:
      context: ../../../DATA/media-stack/pico_sorter
      dockerfile: Dockerfile
      args:
        UID: ${PUID:-1000}
        GID: ${PGID:-1000}

    labels:
      - com.centurylinklabs.watchtower.enable=true
      - com.ouroboros.enable=true
      - autoheal=true
      - autoheal-app
      - autoheal-app=true
      - homarr-app=true
      - homarr

    environment:
      - PUID=${PUID:-1000}
      - PGID=${PGID:-1000}
      - TZ=${TZ:-Europe/Amsterdam}

      - OLLAMA_URL=http://ollama:11434
      - OLLAMA_MODEL=llama3
      - TARGET_GENRES=General Electronic, Jungle, Breakcore, Lo-Fi, Techno, Hip-hop, House
      - INPUT_DIR=/app/unsorted_samples
      - OUTPUT_DIR=/app/sorted_samples
      - DRY_RUN=True  # Change to False for actual sorting and conversion

    volumes:
      - /etc/localtime:/etc/localtime:ro
      # - /etc/timezone:/etc/timezone:ro
      - /var/run/docker.sock:/var/run/docker.sock

      - pico-sorter_unsorted_samples:/app/unsorted_samples
      - pico-sorter_sorted_samples:/app/sorted_samples

    hostname: ${NAME:-pico_sorter}

    # user: ${PUID:-1000}:${PGID:-1000}

    networks:
      host:
      media-services:

    ports:
      - ${PORT:-3003}:3000

    env_file:
      - ./pico_sorter/.env

    runtime: nvidia
    deploy:
      replicas: 1
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu, compute, video, graphics, utility]

    tty: true

    stdin_open: true

    # shm_size: 1gb

    # healthcheck:
    #   test:
    #     [
    #       CMD,
    #       wget,
    #       --no-verbose,
    #       --tries=3,
    #       --spider,
    #       http://localhost:${PORT:-12393}/api/health,
    #     ]
    #   interval: 30s
    #   timeout: 10s
    #   start_period: 30s
    #   retries: 3

    logging:
      driver: json-file
      options:
        max-size: 10m
        max-file: 3
