services:
  letta-server:
    image: ${IMAGE:-letta/letta:latest}
    container_name: ${NAME:-letta-server}
    restart: ${RESTART:-unless-stopped}

    labels:
      - com.centurylinklabs.watchtower.enable=true
      - com.ouroboros.enable=true
      - autoheal-app
      - autoheal-app=true
      - homarr-app=true
      - homarr

    environment:
      - PUID=${PUID:-1000}
      - PGID=${PGID:-1000}
      - TZ=${TZ:-Europe/Amsterdam}
      - OPENAI_API_KEY=${OPENAI_API_KEY:-}
      - ANTHROPIC_API_KEY=${ANTHROPIC_API_KEY:-}
      - OLLAMA_BASE_URL=${OLLAMA_BASE_URL:-http://192.168.178.63:11434}
      - PORT=${PORT:-8283}
      # - SECURE=${SECURE:-true}
      # - LETTA_SERVER_PASSWORD=${LETTA_SERVER_PASSWORD:-letta}
      # - LETTA_UVICORN_RELOAD=${LETTA_UVICORN_RELOAD:-False}
      # - LETTA_UVICORN_TIMEOUT_KEEP_ALIVE=${LETTA_UVICORN_TIMEOUT_KEEP_ALIVE:-5}
      # - LETTA_UVICORN_WORKERS=${LETTA_UVICORN_WORKERS:-1}
      # - LETTA_PG_POOL_SIZE=${LETTA_PG_POOL_SIZE:-80}
      # - LETTA_PG_MAX_OVERFLOW=${LETTA_PG_MAX_OVERFLOW:-30}
      # - LETTA_PG_POOL_TIMEOUT=${LETTA_PG_POOL_TIMEOUT:-30}
      # - LETTA_PG_POOL_RECYCLE=${LETTA_PG_POOL_RECYCLE:-1800}
      # - TOOL_EXEC_DIR=${TOOL_EXEC_DIR:-../../../DATA/ai-stack/letta/tool_execution_dir}
      # - LETTA_OTEL_EXPORTER_OTLP_ENDPOINT=${LETTA_OTEL_EXPORTER_OTLP_ENDPOINT:-http://192.168.178.63:4317}
      # - CLICKHOUSE_DATABASE=${CLICKHOUSE_DATABASE:-clickhouse}
      # - CLICKHOUSE_ENDPOINT=${CLICKHOUSE_ENDPOINT:-http://192.168.178.63:8124}
      # - CLICKHOUSE_PASSWORD=${CLICKHOUSE_PASSWORD:-clickhouse}
      # - CLICKHOUSE_USERNAME=${CLICKHOUSE_USERNAME:-clickhouse}
      # - SIGNOZ_ENDPOINT=${SIGNOZ_ENDPOINT:-http://192.168.178.63:3301}
      # - SIGNOZ_INGESTION_KEY=${SIGNOZ_INGESTION_KEY:-}

    volumes:
      # - /etc/localtime:/etc/localtime:ro
      # - /etc/timezone:/etc/timezone:ro
      - /var/run/docker.sock:/var/run/docker.sock
      - ../../../DATA/ai-stack/letta/pg_data:/var/lib/postgresql/data
      # - letta-server_data:/var/lib/postgresql/data
      - ../../../DATA/ai-stack/letta/tool_execution_dir:/root/.letta/tool_execution_dir
      # - letta-server_tool_execution_dir:/root/.letta/tool_execution_dir

    hostname: ${NAME:-letta-server}

    # command: [--logpath, /var/log/mongodb/mongod.log]

    networks:
      host:
      ai-services:
        # aliases:
        #   - pgvector_db
        #   - letta-db

    ports:
      - ${PORT:-8283}:8283
      - 5432:5432
      - 4316:4316
      - 4318:4318

    env_file:
      - ./letta-server/.env

    deploy:
      replicas: 1

    # depends_on:
    #   letta-db:
    #     condition: service_healthy

    tty: true

    stdin_open: true

    # healthcheck:
    # test:
    #   [
    #     CMD,
    #     wget,
    #     --no-verbose,
    #     --tries=3,
    #     --spider,
    #     http://localhost:${PORT:-8283}/api/health,
    #   ]
    #   interval: 30s
    #   timeout: 10s
    #   start_period: 30s
    #   retries: 3

    logging:
      driver: json-file
      options:
        max-size: 10m
        max-file: 3
