APP_URL=http://0.0.0.0:8890/webui
CONTAINER_DETAILS=true
DATA_DIR=
DISABLE_PASSWORD_AUTH=true
DOCKER_HOST=
EXTRA_FILESYSTEMS=
FILESYSTEM=
HUB_URL=http://0.0.0.0:8890
IMAGE=henrygd/beszel:latest
KEY=key
KEY_FILE=
LHM=
LISTEN=/beszel_socket/beszel.sock
LOG_LEVEL=
MEM_CALC=
NAME=beszel
NETWORK=
NICS=
PORT=8890
PRIMARY_SENSOR=
RESTART=unless-stopped
SENSORS=
SHARE_ALL_SYSTEMS=true
SKIP_GPU=
SMART_DEVICES=
SYSTEM_NAME=
SYS_SENSORS=
TOKEN=token
TOKEN_FILE=
USER_CREATION=false
USER_EMAIL=
USER_PASSWORD=
