x-common:
  pterodactyl_database: &db-environment
    # Do not remove the "&db-password" from the end of the line below, it is important
    # for Panel functionality.
    MYSQL_PASSWORD: &db-password CHANGE_ME
    MYSQL_ROOT_PASSWORD: CHANGE_ME_TOO

  pterodactyl_panel: &panel-environment
    APP_URL: http://example.com
    # A list of valid timezones can be found here: http://php.net/manual/en/timezones.php
    APP_TIMEZONE: UTC
    APP_SERVICE_AUTHOR: noreply@example.com
    # Uncomment the line below and set to a non-empty value if you want to use Let's Encrypt
    # to generate an SSL certificate for the Panel.
    # LE_EMAIL: ""

  pterodactyl_mail: &mail-environment
    MAIL_FROM: noreply@example.com
    MAIL_DRIVER: smtp
    MAIL_HOST: mail
    MAIL_PORT: 1025
    MAIL_USERNAME: ""
    MAIL_PASSWORD: ""
    MAIL_ENCRYPTION: true

services:
  pterodactyl_database:
    image: mariadb:10.5
    container_name: ${NAME:-pterodactyl_database}
    restart: ${RESTART:-unless-stopped}

    labels:
      - com.centurylinklabs.watchtower.enable=true
      - com.ouroboros.enable=true
      - autoheal-app
      - autoheal-app=true
      - homarr-app=true
      - homarr

    command: --default-authentication-plugin=mysql_native_password

    volumes:
      - pterodactyl_database:/var/lib/mysql

    environment:
      <<: *db-environment
      MYSQL_DATABASE: panel
      MYSQL_USER: pterodactyl

    env_file:
      - ./pterodactyl/.env

  pterodactyl_cache:
    image: redis:alpine
    restart: ${RESTART:-unless-stopped}
    container_name: ${NAME:-pterodactyl_cache}

    labels:
      - com.centurylinklabs.watchtower.enable=true
      - com.ouroboros.enable=true
      - autoheal-app
      - autoheal-app=true
      - homarr-app=true
      - homarr

    env_file:
      - ./pterodactyl/.env

  pterodactyl_panel:
    image: ghcr.io/pterodactyl/panel:latest
    restart: ${RESTART:-unless-stopped}
    container_name: ${NAME:-pterodactyl_panel}

    labels:
      - com.centurylinklabs.watchtower.enable=true
      - com.ouroboros.enable=true
      - autoheal-app
      - autoheal-app=true
      - homarr-app=true
      - homarr

    ports:
      - ${PORT:-8028}:8028
      # - ${PORT_SSL:-443}:443

    links:
      - pterodactyl_database
      - pterodactyl_cache

    volumes:
      - pterodactyl_var:/app/var/
      - pterodactyl_nginx:/etc/nginx/http.d/
      - pterodactyl_certs:/etc/letsencrypt/
      - pterodactyl_logs:/app/storage/logs

    environment:
      <<: [*panel-environment, *mail-environment]
      DB_PASSWORD: *db-password
      APP_ENV: production
      APP_ENVIRONMENT_ONLY: false
      CACHE_DRIVER: redis
      SESSION_DRIVER: redis
      QUEUE_DRIVER: redis
      REDIS_HOST: cache
      DB_HOST: database
      DB_PORT: 3306

    env_file:
      - ./pterodactyl/.env
