services:
    # immich-server:
  #   image: ghcr.io/immich-app/immich-server:${IMMICH_VERSION:-release}
  #   container_name: ${NAME:-immich-server}
  #   restart: ${RESTART:-unless-stopped}

  #   # extends:
  #   #   file: hwaccel.transcoding.yml
  #   #   service: cpu # set to one of [nvenc, quicksync, rkmpp, vaapi, vaapi-wsl] for accelerated transcoding

  #   labels:
  #     - com.centurylinklabs.watchtower.enable=true
  #     - com.ouroboros.enable=true
  #     - autoheal-app
  #     - autoheal-app=true
  #     - homarr-app=true
  #     - homarr

  #   environment:
  #     - PUID=${PUID:-1000}
  #     - PGID=${PGID:-1000}
  #     - TZ=${TZ:-Europe/Amsterdam}
  #     # - NODE_ENV=production
  #     # - VUE_APP_ADMINPASSWORD=${VUE_APP_ADMINPASSWORD:-admin}
  #     - DB_HOSTNAME=immich-server_database
  #     - DB_USERNAME=postgres
  #     - DB_PASSWORD=postgres
  #     - DB_DATABASE_NAME=immich-server_database
  #     - REDIS_HOSTNAME=immich-server_redis
  #     - DB_PORT=5433
  #     - REDIS_PORT=6379
  #     - REDIS_PASSWORD=
  #     - SERVER_HOST=0.0.0.0
  #     - SERVER_PORT=2283
  #     - MACHINE_LEARNING_HOST=immich-server_machine-learning
  #     - MACHINE_LEARNING_PORT=3003
  #     - MACHINE_LEARNING_WORKERS=1
  #     - MACHINE_LEARNING_WORKER_TIMEOUT=120

  #   volumes:
  #     - /etc/localtime:/etc/localtime:ro
  #     - /etc/timezone:/etc/timezone:ro
  #     - /var/run/docker.sock:/var/run/docker.sock

  #     - immich-server_uploads:/data

  #   hostname: ${NAME:-immich-server}

  #   # user: ${PUID:-1000}:${PGID:-1000}

  #   networks:
  #     host:
  #     essential-services:

  #   ports:
  #     - 2283:2283

  #   env_file:
  #     - ./immich-server/.env

  #   deploy:
  #     replicas: 1
  #     resources:
  #       reservations:
  #         devices:
  #           - driver: nvidia
  #             count: all
  #             capabilities: [gpu, compute, video, graphics, utility]

  #   healthcheck:
  #     disable: false

  #   devices:
  #     - /dev/nvidia0:/dev/nvidia0
  #     - /dev/dri:/dev/dri

  #   depends_on:
  #     - immich-server_redis
  #     - immich-server_database

  #   logging:
  #     driver: json-file
  #     options:
  #       max-size: 10m
  #       max-file: 3

  # immich-server_machine-learning:
  #   # For hardware acceleration, add one of -[armnn, cuda, rocm, openvino, rknn] to the image tag.
  #   # Example tag: ${IMMICH_VERSION:-release}-cuda
  #   image: ghcr.io/immich-app/immich-machine-learning:${IMMICH_VERSION:-release}-cuda
  #   container_name: immich-server_machine-learning
  #   restart: ${RESTART:-unless-stopped}
  #   # extends: # uncomment this section for hardware acceleration - see https://docs.immich.app/features/ml-hardware-acceleration
  #   # file: ./immich-server/hwaccel.ml.yml
  #   # service: cuda # set to one of [armnn, cuda, rocm, openvino, openvino-wsl, rknn] for accelerated inference - use the `-wsl` version for WSL2 where applicable

  #   volumes:
  #     - immich-server_model-cache:/cache

  #   env_file:
  #     - ./immich-server/.env

  #   healthcheck:
  #     disable: false

  #   hostname: immich-server_machine-learning

  #   devices:
  #     - /dev/nvidia0:/dev/nvidia0
  #     - /dev/dri:/dev/dri

  #   deploy:
  #     replicas: 1
  #     resources:
  #       reservations:
  #         devices:
  #           - driver: nvidia
  #             count: all
  #             capabilities: [gpu, compute, video, graphics, utility]

  # immich-server_redis:
  #   container_name: immich-server_redis
  #   image: docker.io/valkey/valkey:8@sha256:81db6d39e1bba3b3ff32bd3a1b19a6d69690f94a3954ec131277b9a26b95b3aa

  #   healthcheck:
  #     test: redis-cli ping || exit 1

  #   restart: always

  #   hostname: immich-server_redis

  # # This container requires an external application to be run separately.
  # # By default, ports for the databases are opened, be careful when deploying it
  # # Valkey:
  # immich-server_valkey:
  #   image: valkey/valkey:8-bookworm

  #   ports:
  #     - 6379:6379

  #   container_name: immich-server_valkey

  #   hostname: immich-server_valkey

  # immich-server_database:
  #   container_name: immich-server_database
  #   image: ghcr.io/immich-app/postgres:14-vectorchord0.4.3-pgvectors0.2.0@sha256:bcf63357191b76a916ae5eb93464d65c07511da41e3bf7a8416db519b40b1c23

  #   # ports:
  #   #   - 5433:5433

  #   hostname: immich-server_database

  #   environment:
  #     POSTGRES_PASSWORD: ${DB_PASSWORD:-postgres}
  #     POSTGRES_USER: ${DB_USERNAME:-postgres}
  #     POSTGRES_DB: ${DB_DATABASE_NAME:-immich-server_database}
  #     POSTGRES_INITDB_ARGS: --data-checksums
  #     # Uncomment the DB_STORAGE_TYPE: 'HDD' var if your database isn't stored on SSDs
  #     DB_STORAGE_TYPE: HDD

  #   volumes:
  #     # Do not edit the next line. If you want to change the database storage location on your system, edit the value of DB_DATA_LOCATION in the .env file
  #     # - ${DB_DATA_LOCATION}:/var/lib/postgresql/data
  #     - immich-server_database:/var/lib/postgresql/data

  #   env_file:
  #     - ./immich-server/.env

  #   shm_size: 128mb

  #   restart: always



  immich-server:
    container_name: immich_server
    image: ghcr.io/immich-app/immich-server:${IMMICH_VERSION:-release}
    extends:
      file: ./immich-server/hwaccel.transcoding.yml
      service: cuda # set to one of [nvenc, quicksync, rkmpp, vaapi, vaapi-wsl] for accelerated transcoding

    volumes:
      # Do not edit the next line. If you want to change the media storage location on your system, edit the value of UPLOAD_LOCATION in the .env file
      # - ${UPLOAD_LOCATION}:/data
      - immich-server_uploads:/data
      - jellyfin_photos:/jellyfin_photos
      - /etc/localtime:/etc/localtime:ro
      - /dev/bus/usb:/dev/bus/usb
      - /usr/lib/wsl:/usr/lib/wsl    

    env_file:
      - ./immich-server/.env

    ports:
      - '2283:2283'

    depends_on:
      - redis
      - database

    restart: always

    healthcheck:
      disable: false

    devices:
      - /dev/nvidia0:/dev/nvidia0
      - /dev/dri:/dev/dri
      - /dev/dxg:/dev/dxg
    # group_add:
      # - 44 # Replace this number with the number you found with getent group video
      # - 992 # Replace this number with the number you found with getent group render


  immich-machine-learning:
    container_name: immich_machine_learning
    # For hardware acceleration, add one of -[armnn, cuda, rocm, openvino, rknn] to the image tag.
    # Example tag: ${IMMICH_VERSION:-release}-cuda
    image: ghcr.io/immich-app/immich-machine-learning:${IMMICH_VERSION:-release}
    extends: # uncomment this section for hardware acceleration - see https://docs.immich.app/features/ml-hardware-acceleration
      file: ./immich-server/hwaccel.ml.yml
      service: cuda # set to one of [armnn, cuda, rocm, openvino, openvino-wsl, rknn] for accelerated inference - use the `-wsl` version for WSL2 where applicable
    volumes:
      - immich-server_model-cache:/cache
    env_file:
      - ./immich-server/.env
    restart: always
    healthcheck:
      disable: false
    runtime: nvidia

    devices:
      - /dev/nvidia0:/dev/nvidia0
      - /dev/dri:/dev/dri
      - /dev/dxg:/dev/dxg

    deploy:
      replicas: 1
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu, compute, video, graphics, utility]

  redis:
    container_name: immich_redis
    image: docker.io/valkey/valkey:9@sha256:fb8d272e529ea567b9bf1302245796f21a2672b8368ca3fcb938ac334e613c8f
    healthcheck:
      test: redis-cli ping || exit 1
    restart: always

  database:
    container_name: immich_postgres
    image: ghcr.io/immich-app/postgres:14-vectorchord0.4.3-pgvectors0.2.0@sha256:bcf63357191b76a916ae5eb93464d65c07511da41e3bf7a8416db519b40b1c23
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD:-postgres}
      POSTGRES_USER: ${DB_USERNAME:-postgres}
      POSTGRES_DB: ${DB_DATABASE_NAME:-immich-server_database}
      POSTGRES_INITDB_ARGS: '--data-checksums'
      # Uncomment the DB_STORAGE_TYPE: 'HDD' var if your database isn't stored on SSDs
      # DB_STORAGE_TYPE: 'HDD'
    volumes:
      # Do not edit the next line. If you want to change the database storage location on your system, edit the value of DB_DATA_LOCATION in the .env file
      # - ${DB_DATA_LOCATION}:/var/lib/postgresql/data
      - immich-server_database:/var/lib/postgresql/data
    shm_size: 128mb
    restart: always