services:
  localai:
    # image: ${IMAGE:-localai/localai:latest-gpu-nvidia-cuda-12}
    image: ${IMAGE:-localai/localai:latest-aio-gpu-nvidia-cuda-12}
    # image: ${IMAGE:-localai/localai:latest-aio-gpu-nvidia-cuda-11}
    # image: ${IMAGE:-localai/localai:latest}
    container_name: ${NAME:-localai}
    restart: ${RESTART:-unless-stopped}
    hostname: ${NAME:-localai}

    # build:
    #   context: ../../../DATA/ai-stack/localai
    #   dockerfile: Dockerfile
    #   args:
    #     - IMAGE_TYPE=aio
    #     - BASE_IMAGE=ubuntu:22.04
    #     - LOCALAI_ADDRESS=0.0.0.0:${PORT:-8083}
    #     - LISTENING_ADDRESS=0.0.0.0:${PORT:-8083}
    #     - BUILD_TYPE=cublas
    #     - LOCALAI_SINGLE_ACTIVE_BACKEND=true
    #     - THREADS=1
    #     - LOCALAI_IMAGE_PATH=/localai/output
    #     - MODELS_PATH=/localai/models
    #     - BACKENDS_PATH=/localai/backends
    #     - LOCALAI_IMAGE_PATH=/localai/output
    #     - DEBUG=true

    labels:
      - com.centurylinklabs.watchtower.enable=true
      - com.ouroboros.enable=true
      - autoheal-app
      - autoheal-app=true
      - homarr-app=true
      - homarr

    environment:
      - PUID=${PUID:-1000}
      - PGID=${PGID:-1000}
      - TZ=${TZ:-Europe/Amsterdam}
      - SERVER_PORT=${SERVER_PORT:-8083}

      - LOCALAI_ADDRESS=0.0.0.0:${PORT:-8083}
      - LISTENING_ADDRESS=0.0.0.0:${PORT:-8083}
      - PORT=${PORT:-8083}
      - STORAGE_DIR=/app/server/storage
      - MODELS_PATH=/localai/models
      - BACKENDS_PATH=/localai/backends
      - LOCALAI_IMAGE_PATH=/localai/output
      - LOCALAI_SINGLE_ACTIVE_BACKEND=true
      - THREADS=1
      - PROFILE=gpu-8g
      - DEBUG=true

    cap_add:
      - SYS_NICE
      - NET_ADMIN
      - IPC_LOCK

    # command: local-ai run --p2p
    command: local-ai run --p2p --federated

    volumes:
      # - /etc/localtime:/etc/localtime:ro
      # - /etc/timezone:/etc/timezone:ro
      - /var/run/docker.sock:/var/run/docker.sock

      - localai_cache:/.cache
      - localai_configuration:/configuration
      - localai_backends:/localai/backends
      - localai_models:/localai/models
      - localai_output:/localai/output
      # - localai_content:/localai/content/images

    user: ${PUID:-1000}:${PGID:-1000}

    networks:
      host:
      ai-services:

    ports:
      - ${PORT:-8083}:8083

    env_file:
      - ./localai/.env

    runtime: nvidia
    deploy:
      replicas: 1
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu, compute, video, graphics, utility]

    tty: true

    stdin_open: true

    healthcheck:
      test: [CMD, curl, -f, http://localhost:8083/readyz]
      interval: 1m
      timeout: 20m
      retries: 5

    logging:
      driver: json-file
      options:
        max-size: 10m
        max-file: 3
