# =====================
# LETTA MCP
# =====================
IMAGE="ghcr.io/oculairmedia/letta-mcp-server:latest"
NAME="letta-mcp-server"
# DB_USER="letta"
# grafana_admin="grafana"
# grafana_password="grafana"
# LETTA_DB_HOST="letta-db"
# LETTA_PG_DB="letta"
# LETTA_PG_PASSWORD="letta"
# LETTA_PG_URI=""
# LETTA_PG_USER="letta"
# LETTA_SERVER_PASSWORD="letta"
# GROQ_API_KEY=""
OPENAI_API_KEY=""
ANTHROPIC_API_KEY=""
OLLAMA_BASE_URL="http://host.docker.internal:11434"
# AZURE_API_KEY=""
# AZURE_BASE_URL=""
# AZURE_API_VERSION=""
# GEMINI_API_KEY=""
# VLLM_API_BASE=""
# OPENLLM_AUTH_TYPE=""
# OPENLLM_API_KEY=""
# LETTA_OTEL_EXPORTER_OTLP_ENDPOINT=""
# CLICKHOUSE_ENDPOINT="http://clickhouse:8124"
# CLICKHOUSE_DATABASE="clickhouse"
# CLICKHOUSE_USERNAME="clickhouse"
# CLICKHOUSE_PASSWORD="clickhouse"
