IMAGE=
NAME=
PGID=1000
PUBLIC_API_HOST=
PUBLIC_INTERNAL_API_HOST=
PUBLIC_TRANSLATION_API_HOST=
PUBLIC_WHISHPER_PROFILE=
PUID=1000
RESTART=unless-stopped
SKIP_INIT_DB=
UPLOAD_DIR=
VLLM_API_BASE=
WHISHPER_HOST=
WHISHPER_MODELS_DIR=
