services:
  rtlsdrairband:
    image: ${IMAGE:-ghcr.io/sdr-enthusiasts/docker-rtlsdrairband:latest}
    container_name: ${NAME:-rtlsdrairband}
    restart: ${RESTART:-unless-stopped}

    labels:
      - com.centurylinklabs.watchtower.enable=true
      - com.ouroboros.enable=true
      - autoheal-app
      - autoheal-app=true
      - homarr-app=true
      - homarr

    environment:
      - PUID=${PUID:-1000}
      - PGID=${PGID:-1000}
      - TZ=${TZ:-Europe/Amsterdam}

      - OAUTHLIB_RELAX_TOKEN_SCOPE=1
      - DOCKER_MODS=linuxserver/mods:universal-package-install|linuxserver/mods:universal-apprise|linuxserver/mods:universal-git|linuxserver/mods:universal-tshoot|linuxserver/mods:universal-apprise|linuxserver/mods:universal-cron|linuxserver/mods:universal-internationalization|linuxserver/mods:universal-stdout-logs|lscr.io/linuxserver/mods:universal-unrar6
      # - DOCKER_HOST=
      - INSTALL_PACKAGES=libfuse2|git|gdb
      - RESTART_APP=true

      - RTLSDRAIRBAND_FREQS=${RTLSDRAIRBAND_FREQS:-123.9}

    volumes:
      - /etc/localtime:/etc/localtime:ro
      # - /etc/timezone:/etc/timezone:ro
      - /var/run/docker.sock:/var/run/docker.sock
      - /dev/bus/usb:/dev/bus/usb:ro

      - rtlsdrairband_config:/run/rtlsdir-airband

    tmpfs:
      - /tmp:mode=1777

    hostname: ${NAME:-rtlsdrairband}

    # user: ${PUID:-1000}:${PGID:-1000}

    networks:
      host:
      sdr-services:

    ports:
      - ${PORT:-3322}:3322

    env_file:
      - ./rtlsdrairband/.env

    healthcheck:
      disable: true

    device_cgroup_rules:
      - c 189:* rwm

    runtime: nvidia
    deploy:
      replicas: 1
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [ gpu, compute, video, graphics, utility ]

    tty: true

    stdin_open: true

    # shm_size: 1gb

    # healthcheck:
    #   test:
    #     [
    #       CMD,
    #       wget,
    #       --no-verbose,
    #       --tries=3,
    #       --spider,
    #       http://localhost:${PORT:-12393}/api/health,
    #     ]
    #   interval: 30s
    #   timeout: 10s
    #   start_period: 30s
    #   retries: 3

    logging:
      driver: json-file
      options:
        max-size: 10m
        max-file: 3

