x-common:
  pterodactyl-database:
    &db-environment
    # Do not remove the &db-password from the end of the line below, it is important
    # for Panel functionality.
    MYSQL_PASSWORD: &db-password pterodactyl
    MYSQL_ROOT_PASSWORD: pterodactyl
  pterodactyl-panel:
    &panel-environment
    APP_URL: http://example.com
    # A list of valid timezones can be found here: http://php.net/manual/en/timezones.php
    APP_TIMEZONE: UTC
    APP_SERVICE_AUTHOR: noreply@example.com
    # Uncomment the line below and set to a non-empty value if you want to use Let's Encrypt
    # to generate an SSL certificate for the Panel.
    # LE_EMAIL: 
  pterodactyl-mail:
    &mail-environment
    MAIL_FROM: noreply@example.com
    MAIL_DRIVER: smtp
    MAIL_HOST: mail
    MAIL_PORT: 1025
    MAIL_USERNAME: 
    MAIL_PASSWORD: 
    MAIL_ENCRYPTION: true

#
# ------------------------------------------------------------------------------------------
# DANGER ZONE BELOW
#
# The remainder of this file likely does not need to be changed. Please only make modifications
# below if you understand what you are doing.
#
services:

  pterodactyl-database:
    image: mariadb:10.5
    container_name: pterodactyl-database
    restart: ${RESTART:-unless-stopped}

    labels:
      - com.centurylinklabs.watchtower.enable=true
      - com.ouroboros.enable=true
      - autoheal-app
      - autoheal-app=true
      - homarr-app=true
      - homarr

    volumes:
      - pterodactyl_database:/var/lib/mysql
    
    environment:
      <<: *db-environment
      MYSQL_DATABASE: pterodactyl
      MYSQL_USER: pterodactyl

    command: --default-authentication-plugin=mysql_native_password
  
    networks:
      host:
      testing-services:

    env_file:
      - ./pterodactyl/.env

    tty: true

    stdin_open: true

    # shm_size: 1gb

    # healthcheck:
    #   test:
    #     [
    #       CMD,
    #       wget,
    #       --no-verbose,
    #       --tries=3,
    #       --spider,
    #       http://localhost:${PORT:-12393}/api/health,
    #     ]
    #   interval: 30s
    #   timeout: 10s
    #   start_period: 30s
    #   retries: 3

    logging:
      driver: json-file
      options:
        max-size: 10m
        max-file: 3

  pterodactyl-cache:
    image: redis:alpine
    restart: always
    container_name: pterodactyl-cache

    networks:
      host:
      testing-services:

    env_file:
      - ./pterodactyl/.env

    tty: true

    stdin_open: true

    # shm_size: 1gb

    # healthcheck:
    #   test:
    #     [
    #       CMD,
    #       wget,
    #       --no-verbose,
    #       --tries=3,
    #       --spider,
    #       http://localhost:${PORT:-12393}/api/health,
    #     ]
    #   interval: 30s
    #   timeout: 10s
    #   start_period: 30s
    #   retries: 3

    logging:
      driver: json-file
      options:
        max-size: 10m
        max-file: 3

  pterodactyl-panel:
    image: ghcr.io/pterodactyl/panel:latest
    restart: always

    ports:
      - 3949:80
      - 4340:443

    links:
      - pterodactyl-database
      - pterodactyl-cache

    volumes:
      - pterodactyl_var:/app/var/
      - pterodactyl_nginx:/etc/nginx/http.d/
      - pterodactyl_certs:/etc/letsencrypt/
      - pterodactyl_logs:/app/storage/logs

    environment:
      <<: [*panel-environment, *mail-environment]
      DB_PASSWORD: *db-password
      APP_ENV: production
      APP_ENVIRONMENT_ONLY: false
      CACHE_DRIVER: redis
      SESSION_DRIVER: redis
      QUEUE_DRIVER: redis
      REDIS_HOST: pterodactyl-cache
      DB_HOST: pterodactyl-database
      DB_PORT: 3306

    networks:
      host:
      testing-services:

    env_file:
      - ./pterodactyl/.env

    tty: true

    stdin_open: true

    # shm_size: 1gb

    # healthcheck:
    #   test:
    #     [
    #       CMD,
    #       wget,
    #       --no-verbose,
    #       --tries=3,
    #       --spider,
    #       http://localhost:${PORT:-12393}/api/health,
    #     ]
    #   interval: 30s
    #   timeout: 10s
    #   start_period: 30s
    #   retries: 3

    logging:
      driver: json-file
      options:
        max-size: 10m
        max-file: 3

