services:
  mympd:
    # image: ${IMAGE:-t41372/open-llm-vtuber}
    image: ${IMAGE:-ghcr.io/jcorporation/mympd/mympd}
    container_name: ${NAME:-mympd}
    restart: ${RESTART:-unless-stopped}

    labels:
      - com.centurylinklabs.watchtower.enable=true
      - com.ouroboros.enable=true
      - autoheal-app
      - autoheal-app=true
      - homarr-app=true
      - homarr

    environment:
      - PUID=${PUID:-1000}
      - PGID=${PGID:-1000}
      - TZ=${TZ:-Europe/Amsterdam}
      - PORT=${PORT:-5000}
      # - MYMPD_SSL_SAN: "DNS:<host fqdn>"
      # - MYMPD_MYMPD_URI: http://<host fqdn>:8080

    volumes:
      - /etc/localtime:/etc/localtime:ro
      # - /etc/timezone:/etc/timezone:ro
      - /var/run/docker.sock:/var/run/docker.sock

      - /run/mpd:/run/mpd
      ## Optional for myGPIOd support
      ## - /run/mygpiod:/run/mygpiod
      - mympd_workdir:/var/lib/mympd
      - mympd_cachedir:/var/cache/mympd
      - mympd_music:/var/lib/mpd/music:ro
      - mympd_playlists:/var/lib/mpd/playlists:ro

    hostname: ${NAME:-mympd}

    # user: ${PUID:-1000}:${PGID:-1000}

    networks:
      host:
      testing-services:

    ports:
      - ${PORT:-8080}:8080
      - ${PORT2:-8443}:8443

    env_file:
      - ./mympd/.env

    runtime: nvidia
    deploy:
      replicas: 1
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu, compute, video, graphics, utility]

    # depends_on:
    #   - faster-whisper-gpu
    #   - wyoming-piper

    tty: true

    stdin_open: true

    # healthcheck:
    #   test:
    #     [
    #       CMD,
    #       wget,
    #       --no-verbose,
    #       --tries=3,
    #       --spider,
    #       http://localhost:${PORT:-12393}/api/health,
    #     ]
    #   interval: 30s
    #   timeout: 10s
    #   start_period: 30s
    #   retries: 3

    logging:
      driver: json-file
      options:
        max-size: 10m
        max-file: 3
