services:
  big-agi:
    image: ${IMAGE:-ghcr.io/enricoros/big-agi:latest}
    container_name: ${NAME:-big-agi}
    restart: ${RESTART:-unless-stopped}

    labels:
      - com.centurylinklabs.watchtower.enable=true
      - com.ouroboros.enable=true
      - autoheal-app
      - autoheal-app=true
      - homarr-app=true
      - homarr

    environment:
      - PUID=${PUID:-1000}
      - PGID=${PGID:-1000}
      - TZ=${TZ:-Europe/Amsterdam}
      - PORT=${PORT:-3400}

    command: next start -p 3400

    volumes:
      # - /etc/localtime:/etc/localtime:ro
      # - /etc/timezone:/etc/timezone:ro
      - /var/run/docker.sock:/var/run/docker.sock

    hostname: ${NAME:-big-agi}

    # user: ${PUID:-1000}:${PGID:-1000}

    networks:
      host:
      ai-services:

    env_file:
      - ./big-agi/.env

    ports:
      - 3400:3400

    tty: true

    stdin_open: true

    # healthcheck:
    # test:
    #   [
    #     CMD,
    #     wget,
    #     --no-verbose,
    #     --tries=3,
    #     --spider,
    #     http://localhost:${PORT:-3400}/api/health,
    #   ]
    #   interval: 30s
    #   timeout: 10s
    #   start_period: 30s
    #   retries: 3

    logging:
      driver: json-file
      options:
        max-size: 10m
        max-file: 3

    depends_on:
      - big-agi-browserless

  big-agi-browserless:
    image: browserless/chrome:latest
    container_name: big-agi-browserless
    ports:
      - 3402:3400

    # user: ${PUID:-1000}:${PGID:-1000}

    environment:
      - MAX_CONCURRENT_SESSIONS=10
