services:
  pcsx2:
    # image: ${IMAGE:-t41372/open-llm-vtuber}
    image: ${IMAGE:-lscr.io/linuxserver/pcsx2:latest}
    container_name: ${NAME:-pcsx2}
    restart: ${RESTART:-unless-stopped}

    labels:
      - com.centurylinklabs.watchtower.enable=true
      - com.ouroboros.enable=true
      - autoheal-app
      - autoheal-app=true
      - homarr-app=true
      - homarr

    environment:
      - PUID=${PUID:-1000}
      - PGID=${PGID:-1000}
      - TZ=${TZ:-Europe/Amsterdam}
      - DOCKER_MODS=linuxserver/mods:universal-package-install
      - INSTALL_PACKAGES=libfuse2|git|gdb
      - RESTART_APP=true

    volumes:
      # - /etc/localtime:/etc/localtime:ro
      # - /etc/timezone:/etc/timezone:ro
      - /var/run/docker.sock:/var/run/docker.sock

      - pcsx2_config:/config

    hostname: ${NAME:-pcsx2}

    # user: ${PUID:-1000}:${PGID:-1000}

    networks:
      host:
      testing-services:

    ports:
      - ${PORT:-7030}:3000
      - 7031:3001

    env_file:
      - ./pcsx2/.env

    # command:
    #   - -iwad /usr/share/pcsx2/doom2.wad -file /usr/share/pcsx2/DOOM_Infinite_098_PP2_H3.pk3

    runtime: nvidia
    deploy:
      replicas: 1
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu, compute, video, graphics, utility]

    # depends_on:
    #   - faster-whisper-gpu
    #   - wyoming-piper

    tty: true

    stdin_open: true

    shm_size: 1gb

    # healthcheck:
    #   test:
    #     [
    #       CMD,
    #       wget,
    #       --no-verbose,
    #       --tries=3,
    #       --spider,
    #       http://localhost:${PORT:-12393}/api/health,
    #     ]
    #   interval: 30s
    #   timeout: 10s
    #   start_period: 30s
    #   retries: 3

    logging:
      driver: json-file
      options:
        max-size: 10m
        max-file: 3
