# =====================
# STABLE DIFFUSION WEBUI
# =====================
IMAGE="comfy-ui"
NAME="stable-diffusion-webui"
RESTART="unless-stopped"

PUID="1000"
PGID="1000"

PORT="7860"
CLI_ARGS=""

SD_WEBUI_BUILD="../../DATA/ai-stack/stable-diffusion-webui-docker/services/comfy"
OPENAI_API_KEY=""
OPENLLM_API_KEY=""
OPENLLM_AUTH_TYPE=""
