services:
  prowlarr:
    image: ${IMAGE:-linuxserver/prowlarr}
    container_name: ${NAME:-prowlarr}
    restart: ${RESTART:-unless-stopped}

    labels:
      - com.centurylinklabs.watchtower.enable=true
      - com.ouroboros.enable=true
      - autoheal-app
      - autoheal-app=true
      - homarr-app=true
      - homarr

    environment:
      - PUID=${PUID:-1000}
      - PGID=${PGID:-1000}
      - TZ=${TZ:-Europe/Amsterdam}
      - PORT=${PORT:-9696}

    volumes:
      # - /etc/localtime:/etc/localtime:ro
      # - /etc/timezone:/etc/timezone:ro
      - /var/run/docker.sock:/var/run/docker.sock

      - prowlarr_config:/config

    hostname: ${NAME:-prowlarr}

    # user: ${PUID:-1000}:${PGID:-1000}

    networks:
      host:
      arr-services:

    expose:
      - ${PORT:-9696}/tcp

    ports:
      - ${PORT:-9696}:9696/tcp

    env_file:
      - ./prowlarr/.env

    deploy:
      replicas: 1

    tty: true

    stdin_open: true

    # healthcheck:
    #   test:
    #     [
    #       CMD,
    #       wget,
    #       --no-verbose,
    #       --tries=3,
    #       --spider,
    #       http://0.0.0.0:${PORT:-9696}/api/health,
    #     ]
    #   interval: 30s
    #   timeout: 10s
    #   start_period: 30s
    #   retries: 3

    logging:
      driver: json-file
      options:
        max-size: 10m
        max-file: 3
