# =====================
# AUTOHEAL
# =====================
IMAGE="willfarrell/autoheal"
autoheal.container_name="autoheal-arr-services"
autoheal.hostname="autoheal-arr-services"
autoheal.environment.AUTOHEAL_CONTAINER_LABEL="autoheal"
autoheal.container_network_mode="none"
autoheal.network_mode="none"
autoheal_container_restart="always"
autoheal_restart="always"
