CHARACTER_NAME=pirate
COQUI_TOS_AGREED=1
ELEVENLABS_API_KEY=your_api_key_here
ELEVENLABS_TTS_VOICE=pgCnBQgKPGkIP8fJuita
IMAGE=voice-chat-ai
MODEL_PROVIDER=ollama
NAME=voice-chat-ai
OLLAMA_BASE_URL=http://0.0.0.0:11434
OLLAMA_MODEL=llama3.2
OPENAI_API_KEY=your_api_key_here
OPENAI_BASE_URL=https://api.openai.com/v1/chat/completions
OPENAI_MODEL=gpt-4o-mini
OPENAI_TTS_URL=https://api.openai.com/v1/audio/speech
OPENAI_TTS_VOICE=onyx
PGID=1000
PORT=8005
PUID=1000
RESTART=unless-stopped
TTS_PROVIDER=elevenlabs
XAI_API_KEY=your_api_key_here
XAI_BASE_URL=https://api.x.ai/v1
XAI_MODEL=grok-beta
XTTS_SPEED=1.2
