# IMAGE=ghcr.io/ai-dock/comfyui:pytorch-2.3.0-py3.10-v2-cuda-12.1.1-base-22.04
IMAGE=aidockorg/comfyui-cuda:latest

NAME=ai-dock-comfyui
PGID=1000
PUID=1000
RESTART=unless-stopped

# Don't enclose values in quotes
AUTO_UPDATE=false
CF_QUICK_TUNNELS=true
CF_TUNNEL_TOKEN=
CIVITAI_TOKEN=
COMFYUI_ARGS=
COMFYUI_METRICS_PORT=28188
COMFYUI_PORT_HOST=8388
COMFYUI_URL=
DIRECT_ADDRESS=127.0.0.1
DIRECT_ADDRESS_GET_WAN=false
HF_TOKEN=
JUPYTER_METRICS_PORT=28888
JUPYTER_PORT_HOST=8888
JUPYTER_URL=
SERVERLESS=false
SERVICEPORTAL_METRICS_PORT=21111
SERVICEPORTAL_PORT_HOST=1111
SERVICEPORTAL_URL=
SSH_PORT_HOST=2222
SYNCTHING_TRANSPORT_PORT_HOST=22999
SYNCTHING_UI_PORT_HOST=8384
SYNCTHING_URL=
WEB_ENABLE_AUTH=true
WEB_ENABLE_HTTPS=false
WEB_PASSWORD=password
WEB_USER=user
WORKSPACE=/workspace
WORKSPACE_SYNC=false
# PROVISIONING_SCRIPT=
