services:
  ai-dock-comfyui:
    # image: ${IMAGE:-ghcr.io/ai-dock/comfyui:pytorch-2.3.0-py3.10-v2-cuda-12.1.1-base-22.04}
    image: ${IMAGE:-aidockorg/comfyui-cuda:latest}

    container_name: ${NAME:-ai-dock-comfyui}
    restart: ${RESTART:-unless-stopped}

    labels:
      - com.centurylinklabs.watchtower.enable=true
      - com.ouroboros.enable=true
      - autoheal-app
      - autoheal-app=true
      - homarr-app=true
      - homarr

    environment:
      - PUID=${PUID:-1000}
      - PGID=${PGID:-1000}
      - TZ=${TZ:-Europe/Amsterdam}

      # Don't enclose values in quotes
      - AUTO_UPDATE=${AUTO_UPDATE:-false}
      - DIRECT_ADDRESS=${DIRECT_ADDRESS:-127.0.0.1}
      - DIRECT_ADDRESS_GET_WAN=${DIRECT_ADDRESS_GET_WAN:-false}
      - WORKSPACE=${WORKSPACE:-/workspace}
      - WORKSPACE_SYNC=${WORKSPACE_SYNC:-false}
      - CF_TUNNEL_TOKEN=${CF_TUNNEL_TOKEN:-}
      - CF_QUICK_TUNNELS=${CF_QUICK_TUNNELS:-true}
      - CIVITAI_TOKEN=${CIVITAI_TOKEN:-}
      - HF_TOKEN=${HF_TOKEN:-}
      - WEB_ENABLE_AUTH=${WEB_ENABLE_AUTH:-true}
      - WEB_ENABLE_HTTPS=${WEB_ENABLE_HTTPS:-false}
      - WEB_USER=${WEB_USER:-user}
      - WEB_PASSWORD=${WEB_PASSWORD:-password}
      - SSH_PORT_HOST=${SSH_PORT_HOST:-2222}
      - SERVICEPORTAL_PORT_HOST=${SERVICEPORTAL_PORT_HOST:-1111}
      - SERVICEPORTAL_METRICS_PORT=${SERVICEPORTAL_METRICS_PORT:-21111}
      - SERVICEPORTAL_URL=${SERVICEPORTAL_URL:-}
      - COMFYUI_ARGS=${COMFYUI_ARGS:-}
      - COMFYUI_PORT_HOST=${COMFYUI_PORT_HOST:-8188}
      - COMFYUI_METRICS_PORT=${COMFYUI_METRICS_PORT:-28188}
      - COMFYUI_URL=${COMFYUI_URL:-}
      - JUPYTER_PORT_HOST=${JUPYTER_PORT_HOST:-8888}
      - JUPYTER_METRICS_PORT=${JUPYTER_METRICS_PORT:-28888}
      - JUPYTER_URL=${JUPYTER_URL:-}
      - SERVERLESS=${SERVERLESS:-false}
      - SYNCTHING_UI_PORT_HOST=${SYNCTHING_UI_PORT_HOST:-8384}
      - SYNCTHING_TRANSPORT_PORT_HOST=${SYNCTHING_TRANSPORT_PORT_HOST:-22999}
      - SYNCTHING_URL=${SYNCTHING_URL:-}
      #- PROVISIONING_SCRIPT=${PROVISIONING_SCRIPT:-}

    volumes:
      # - /etc/localtime:/etc/localtime:ro
      # - /etc/timezone:/etc/timezone:ro
      - /var/run/docker.sock:/var/run/docker.sock

      - ai-dock-comfyui_data:/opt/stable-diffusion-webui-comfyui
      - ai-dock-comfyui_models:/opt/stable-diffusion-webui-comfyui/models
      - ai-dock-comfyui_output:/opt/stable-diffusion-webui-comfyui/outputs

      - ai-dock-comfyui_data:/workspace
      - ai-dock-comfyui_models:/workspace/models
      - ai-dock-comfyui_output:/workspace/outputs

    hostname: ${NAME:-ai-dock-comfyui}

    # user: ${PUID:-1000}:${PGID:-1000}

    networks:
      host:
      ai-services:

    ports:
      - ${COMFYUI_PORT_HOST:-18188}:18188
      # - ${SERVICEPORTAL_PORT_HOST:-1111}:1111
      # - ${SYNCTHING_UI_PORT_HOST:-18384}:18384
      # - ${JUPYTER_PORT_HOST-:8888}:8888

    env_file:
      - ./ai-dock-comfyui/.env

    stop_signal: SIGKILL

    devices:
      - /dev/nvidia0:/dev/nvidia0
      - /dev/dri:/dev/dri

    runtime: nvidia
    deploy:
      replicas: 1
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu, compute, video, graphics, utility]

    tty: true

    stdin_open: true

    # healthcheck:
    # test:
    #   [
    #     CMD,
    #     wget,
    #     --no-verbose,
    #     --tries=3,
    #     --spider,
    #     http://localhost:${PORT:-7861}/api/health,
    #   ]
    #   interval: 30s
    #   timeout: 10s
    #   start_period: 30s
    #   retries: 3

    logging:
      driver: json-file
      options:
        max-size: 10m
        max-file: 3
