[Desktop Entry]
Type=Application
Exec=gnome-terminal -- start_browser.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[nl_NL]=start_browser.sh
Name=start_browser.sh
Comment[nl_NL]=
Comment=start browser
