[Desktop Entry]
Type=Application
Exec=gnome-terminal -- start_comfy-cli.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[nl_NL]=start_comfy-cli.sh
Name=start_comfy-cli.sh
Comment[nl_NL]=
Comment=start comfy-cli

