[Desktop Entry]
Type=Application
Exec=gnome-terminal -- start_cushystudio.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[nl_NL]=start_cushystudio.sh
Name=start_cushystudio.sh
Comment[nl_NL]=
Comment=start cushystudio
