
# =====================
# AUTOHEAL
# =====================
AUTOHEAL_IMAGE="willfarrell/autoheal"
autoheal.container_name="autoheal-airi-services"
autoheal.hostname="autoheal-airi-services"
autoheal.environment.AUTOHEAL_CONTAINER_LABEL="autoheal"
autoheal.container_network_mode="none"
autoheal.network_mode="none"
autoheal_container_restart="always"
autoheal_restart="always"
