# Version Tags:
# This image provides various versions that are available via tags. Please read the descriptions carefully and exercise caution when using unstable or development tags.

# Tag	Available	Description
# latest	✅	XFCE Alpine
# alpine-i3	✅	i3 Alpine
# alpine-kde	✅	KDE Alpine *Wayland Only
# alpine-mate	✅	MATE Alpine
# arch-i3	✅	i3 Arch
# arch-kde	✅	KDE Arch
# arch-mate	✅	MATE Arch
# arch-xfce	✅	XFCE Arch
# debian-i3	✅	i3 Debian
# debian-kde	✅	KDE Debian
# debian-mate	✅	MATE Debian
# debian-xfce	✅	XFCE Debian
# el-i3	✅	i3 Enterprise Linux
# el-mate	✅	MATE Enterprise Linux
# el-xfce	✅	XFCE Enterprise Linux
# fedora-i3	✅	i3 Fedora
# fedora-kde	✅	KDE Fedora
# fedora-mate	✅	MATE Fedora
# fedora-xfce	✅	XFCE Fedora
# ubuntu-i3	✅	i3 Ubuntu
# ubuntu-kde	✅	KDE Ubuntu
# ubuntu-mate	✅	MATE Ubuntu
# ubuntu-xfce	✅	XFCE Ubuntu
IMAGE=lscr.io/linuxserver/webtop:ubuntu-kde
NAME=birdnet-pi
PGID=1000
PUID=1000
RESTART=unless-stopped

