services:
  obs-studio:
    image: ${IMAGE:-kasmweb/obs:latest}
    container_name: ${NAME:-obs-studio}
    restart: ${RESTART:-unless-stopped}

    labels:
      - com.centurylinklabs.watchtower.enable=true
      - com.ouroboros.enable=true
      - autoheal-app
      - autoheal-app=true
      - homarr-app=true
      - homarr

    environment:
      - PUID=${PUID:-1000}
      - PGID=${PGID:-1000}
      - TZ=${TZ:-Europe/Amsterdam}

      - OAUTHLIB_RELAX_TOKEN_SCOPE=1
      - DOCKER_MODS=linuxserver/mods:universal-package-install|linuxserver/mods:universal-apprise|linuxserver/mods:universal-cron|linuxserver/mods:universal-internationalization|linuxserver/mods:universal-stdout-logs|lscr.io/linuxserver/mods:universal-unrar6
      # - DOCKER_HOST=
      - INSTALL_PACKAGES=libfuse2|git|gdb
      - RESTART_APP=true

      - VNC_PW=password
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=all
      - PULSE_SERVER=unix:/run/user/1000/pulse/native

    volumes:
      - /etc/localtime:/etc/localtime:ro
      # - /etc/timezone:/etc/timezone:ro
      - /var/run/docker.sock:/var/run/docker.sock

      - obs-studio_config:/home/kasm_user/.config/obs-studio
      - obs-studio_recordings:/home/kasm_user/Videos

      # PulseAudio socket voor audio integratie
      - /run/user/1000/pulse:/run/user/1000/pulse
      - ~/.config/pulse/cookie:/home/kasm_user/.config/pulse/cookie

    hostname: ${NAME:-obs-studio}

    networks:
      host:
      testing-services:

    ports:
      - ${PORT:-6901}:6901

    env_file:
      - ./obs-studio/.env

    runtime: nvidia
    deploy:
      replicas: 1
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [ gpu, compute, video, graphics, utility ]

    devices:
      - /dev/snd
      - /dev/dri:/dev/dri
      - /dev/video0:/dev/video0

    command: [ --enableVerboseLogging ]

    cap_add:
      - SYS_NICE
      - NET_ADMIN
      - IPC_LOCK

    tty: true

    stdin_open: true

    shm_size: 1gb

    # healthcheck:
    #   test:
    #     [
    #       CMD,
    #       wget,
    #       --no-verbose,
    #       --tries=3,
    #       --spider,
    #       http://localhost:${PORT:-3000}/api/health,
    #     ]
    #   interval: 30s
    #   timeout: 10s
    #   start_period: 30s
    #   retries: 3

    logging:
      driver: json-file
      options:
        max-size: 10m
        max-file: 3

