IMAGE=ghcr.io/ai-dock/stable-diffusion-webui-forge:cuda-12.1.1-base-22.04
NAME=forge
PGID=1000
PUID=1000
RESTART=unless-stopped

CF_QUICK_TUNNELS=true
CF_TUNNEL_TOKEN=
CIVITAI_TOKEN=
# Don't enclose values in quotes
DIRECT_ADDRESS=127.0.0.1
DIRECT_ADDRESS_GET_WAN=false
FORGE_ARGS=
FORGE_BRANCH=
FORGE_METRICS_PORT=27860
FORGE_PORT_HOST=7860
FORGE_PORT_LOCAL=17860
FORGE_URL=
HF_TOKEN=
JUPYTER_METRICS_PORT=28888
JUPYTER_PORT_HOST=8888
JUPYTER_URL=
SERVERLESS=false
SERVICEPORTAL_METRICS_PORT=21111
SERVICEPORTAL_PORT_HOST=1111
SERVICEPORTAL_URL=
SSH_PORT_HOST=2222
SSH_PORT_LOCAL=22
SYNCTHING_TRANSPORT_PORT_HOST=22999
SYNCTHING_UI_PORT_HOST=8384
SYNCTHING_URL=
WEB_ENABLE_AUTH=true
WEB_ENABLE_HTTPS=false
WEB_PASSWORD=password
WEB_USER=user
WORKSPACE=/workspace
WORKSPACE_SYNC=false
# PROVISIONING_SCRIPT=
