services:
  forge:
    image: ${IMAGE:-aidockorg/stable-diffusion-webui-forge-cuda}
    container_name: ${NAME:-forge}
    restart: ${RESTART:-unless-stopped}

    labels:
      - com.centurylinklabs.watchtower.enable=true
      - com.ouroboros.enable=true
      - autoheal-app
      - autoheal-app=true
      - homarr-app=true
      - homarr

    environment:
      - PUID=${PUID:-1000}
      - PGID=${PGID:-1000}
      - TZ=${TZ:-Europe/Amsterdam}
      - WEB_ENABLE_AUTH=false

    volumes:
      # - /etc/localtime:/etc/localtime:ro
      # - /etc/timezone:/etc/timezone:ro
      - /var/run/docker.sock:/var/run/docker.sock

      - forge_data:/opt/stable-diffusion-webui-forge

    hostname: ${NAME:-forge}

    networks:
      host:
      ai-services:

    ports:
      - ${PORT:-7861}:7861
      - 1111:1111

    env_file:
      - ./forge/.env

    stop_signal: SIGKILL

    devices:
      - /dev/nvidia0:/dev/nvidia0

    runtime: nvidia
    deploy:
      replicas: 1
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu, compute, video, graphics, utility]

    tty: true

    stdin_open: true

    # healthcheck:
    # test:
    #   [
    #     CMD,
    #     wget,
    #     --no-verbose,
    #     --tries=3,
    #     --spider,
    #     http://localhost:${PORT:-9090}/api/health,
    #   ]
    #   interval: 30s
    #   timeout: 10s
    #   start_period: 30s
    #   retries: 3

    logging:
      driver: json-file
      options:
        max-size: 10m
        max-file: 3
