# =====================
# AUTOHEAL
# =====================
IMAGE="willfarrell/autoheal"
NAME="autoheal-ai"
RESTART="unless-stopped"
AUTOHEAL_CONTAINER_LABEL="all"
AUTOHEAL_START_PERIOD="0"
AUTOHEAL_INTERVAL="5"
AUTOHEAL_DEFAULT_STOP_TIMEOUT="10"
AUTOHEAL_ONLY_MONITOR_RUNNING="false"
AUTOHEAL_MONITOR_ALL="true"