IMAGE=lscr.io/linuxserver/apprise-api:latest
NAME=apprise-api
PORT=8000
RESTART=unless-stopped

OAUTHLIB_RELAX_TOKEN_SCOPE=1
DOCKER_MODS=linuxserver/mods:universal-package-install|linuxserver/mods:universal-apprise|linuxserver/mods:universal-cron|linuxserver/mods:universal-internationalization|linuxserver/mods:universal-stdout-logs|lscr.io/linuxserver/mods:universal-unrar6
INSTALL_PACKAGES=libfuse2|git|gdb
RESTART_APP=true