services:
  traefik:
    image: ${IMAGE:-traefik:latest}
    container_name: ${NAME:-traefik}
    restart: ${RESTART:-unless-stopped}
    security_opt:
      - no-new-privileges:true

    labels:
      - com.centurylinklabs.watchtower.enable=true
      - com.ouroboros.enable=true
      - autoheal-app
      - autoheal-app=true
      - homarr-app=true
      - homarr

    environment:
      - PUID=${PUID:-1000}
      - PGID=${PGID:-1000}
      - TZ=${TZ:-Europe/Amsterdam}
      - PORT=${PORT:-89}

    volumes:
      # - /etc/localtime:/etc/localtime:ro
      # - /etc/timezone:/etc/timezone:ro
      - /var/run/docker.sock:/var/run/docker.sock

      - traefik_certs:/certs:ro
      - traefik_dynamic:/etc/traefik/dynamic:ro

    command:
      - --api.insecure=true
      - --providers.docker=true
      - --entrypoints.web.address=:89

    hostname: ${NAME:-traefik}

    user: ${PUID:-1000}:${PGID:-1000}

    networks:
      host:
      essential-services:

    ports:
      - ${PORT:-89}:89
      - 8989:8989

    env_file:
      - ./traefik/.env

    deploy:
      replicas: 1

    tty: true

    stdin_open: true

    # healthcheck:
    #   test: CMD curl -f http://0.0.0.0:${PORT:-89}/health
    #   interval: 30s
    #   timeout: 10s
    #   start_period: 30s
    #   retries: 3

    logging:
      driver: json-file
      options:
        max-size: 10m
        max-file: 3
