services:
  calibre:
    image: lscr.io/linuxserver/calibre:latest
    container_name: ${NAME:-calibre}
    restart: ${RESTART:-unless-stopped}

    labels:
      - com.centurylinklabs.watchtower.enable=true
      - com.ouroboros.enable=true
      - autoheal-app
      - autoheal-app=true
      - homarr-app=true
      - homarr

    environment:
      - PUID=${PUID:-1000}
      - PGID=${PGID:-1000}
      - TZ=${TZ:-Europe/Amsterdam}
      # - PASSWORD=
      # - CLI_ARGS=

      - OAUTHLIB_RELAX_TOKEN_SCOPE=1
      - DOCKER_MODS=linuxserver/mods:universal-package-install|linuxserver/mods:universal-apprise|linuxserver/mods:universal-cron|linuxserver/mods:universal-internationalization|linuxserver/mods:universal-stdout-logs|lscr.io/linuxserver/mods:universal-unrar6
      # - DOCKER_HOST=
      - INSTALL_PACKAGES=libfuse2|git|gdb
      - RESTART_APP=true

    volumes:
      - /etc/localtime:/etc/localtime:ro
      # - /etc/timezone:/etc/timezone:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro

      # Do not edit the next line. If you want to change the media storage location on your system, edit the value of UPLOAD_LOCATION in the .env file
      # - ${UPLOAD_LOCATION}:/data
      - calibre_config:/config
      - calibre_books:/calibre_books
      - calibre_autoadd:/calibre_autoadd

    hostname: ${NAME:-calibre}

    # user: ${PUID:-1000}:${PGID:-1000}

    security_opt:
      - seccomp:unconfined

    networks:
      host:
      books-services:

    env_file:
      - ./calibre/.env

    ports:
      - ${PORT:-8180}:8080
      - ${PORT2:-8181}:8181
      - ${PORT3:-8085}:8081
      - ${PORT3:-9009}:9000

    tty: true

    stdin_open: true

    shm_size: 1gb

    # healthcheck:
    # test:
    #   [
    #     CMD,
    #     wget,
    #     --no-verbose,
    #     --tries=3,
    #     --spider,
    #     http://localhost:${PORT:-8123}/api/health,
    #   ]
    #   interval: 30s
    #   timeout: 10s
    #   start_period: 30s
    #   retries: 3

    logging:
      driver: json-file
      options:
        max-size: 10m
        max-file: 3
