services:
  portainer:
    container_name: ${NAME:-portainer}
    image: ${IMAGE:-portainer/portainer-ce:latest}
    restart: ${RESTART:-unless-stopped}

    labels:
      - com.centurylinklabs.watchtower.enable=true
      - com.ouroboros.enable=true
      - autoheal-app
      - autoheal-app=true
      - homarr-app=true
      - homarr

    environment:
      - PUID=${PUID:-1000}
      - PGID=${PGID:-1000}
      - TZ=${TZ:-Europe/Amsterdam}
      - PORT=${PORT:-9443}

    volumes:
      # - /etc/localtime:/etc/localtime:ro
      # - /etc/timezone:/etc/timezone:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro

      - portainer_data:/data

    hostname: ${NAME:-portainer}

    user: ${PUID:-1000}:${PGID:-1000}

    networks:
      host:
      essential-services:

    ports:
      - ${PORT:-9443}:9443

    env_file:
      - ./portainer/.env

    tty: true

    stdin_open: true

    deploy:
      replicas: 1

    # healthcheck:
    #   test: CMD curl -f http://0.0.0.0:${PORT:-8000}/health
    #   interval: 30s
    #   timeout: 10s
    #   start_period: 30s
    #   retries: 3

    logging:
      driver: json-file
      options:
        max-size: 10m
        max-file: 3
