IMAGE=atinoda/text-generation-webui:default-nvidia
NAME=text-generation-webui-docker
# OPENAI_API_KEY=sk-xxxx
# OPENAI_PROXY_URL=https://api-proxy.com/v1
PORT=7862
HOST_PORT=7862
RESTART=unless-stopped
EXTRA_LAUNCH_ARGS="--listen --listen-port 7862"
