# PROXY_URL=http://localhost:7890
AI302_API_KEY=
AI302_URL=
ANTHROPIC_API_KEY=
ANTHROPIC_API_VERSION=
ANTHROPIC_URL=
BASE_URL=
CODE=your-password
CUSTOM_MODELS=
DEEPSEEK_API_KEY=
DEFAULT_MODEL=
DISABLE_FAST_LINK=
DISABLE_GPT4=
ENABLE_BALANCE_QUERY=
ENABLE_MCP=true
GOOGLE_API_KEY=
GOOGLE_URL=
HIDE_USER_API_KEY=
IMAGE=yidadaa/chatgpt-next-web
NAME=chatgpt-next-web
OPENAI_API_KEY=sk-xxxx
OPENAI_ORG_ID=
# PROXY_URL=http://localhost:7890
# Your openai api key. (required)
# OPENAI_API_KEY=sk-xxxx
PGID=1000
PORT=3034
PUID=1000
RESTART=always
SILICONFLOW_API_KEY=
SILICONFLOW_URL=
WHITE_WEBDAV_ENDPOINTS=
