services:
  kasm:
    image: lscr.io/linuxserver/kasm:latest
    container_name: ${NAME:-kasm}
    restart: ${RESTART:-unless-stopped}

    labels:
      - com.centurylinklabs.watchtower.enable=true
      - com.ouroboros.enable=true
      - autoheal-app
      - autoheal-app=true
      - homarr-app=true
      - homarr

    environment:
      - PUID=${PUID:-1000}
      - PGID=${PGID:-1000}
      - TZ=${TZ:-Europe/Amsterdam}

      - OAUTHLIB_RELAX_TOKEN_SCOPE=1
      - DOCKER_MODS=linuxserver/mods:universal-package-install
      # - DOCKER_HOST=
      - INSTALL_PACKAGES=libfuse2|git|gdb
      - RESTART_APP=true

      - KASM_PORT=4398
      # optional
      # - DOCKER_HUB_USERNAME=USER
      # - DOCKER_HUB_PASSWORD=PASS
      # - DOCKER_MTU=1500

    volumes:
      - /etc/localtime:/etc/localtime:ro
      # - /etc/timezone:/etc/timezone:ro
      - /var/run/docker.sock:/var/run/docker.sock

      - kasm_config:/opt

      # optional
      - kasm_profiles:/profiles
      - /dev/input:/dev/input
      - /run/udev/data:/run/udev/data

    hostname: ${NAME:-kasm}

    # user: ${PUID:-1000}:${PGID:-1000}

    privileged: true

    # optional
    # security_opt:
    #   #   - apparmor:rootlesskits
    #   - apparmor:unconfirmed

    networks:
      host:
      desktop-services:

    env_file:
      - ./kasm/.env

    ports:
      - ${PORT:-5947}:3000
      - 4398:4398

    tty: true

    stdin_open: true

    shm_size: 1gb

    # healthcheck:
    # test:
    #   [
    #     CMD,
    #     wget,
    #     --no-verbose,
    #     --tries=3,
    #     --spider,
    #     http://localhost:${PORT:-8123}/api/health,
    #   ]
    #   interval: 30s
    #   timeout: 10s
    #   start_period: 30s
    #   retries: 3

    logging:
      driver: json-file
      options:
        max-size: 10m
        max-file: 3
