services:
  lobe-chat:
    image: ${IMAGE:-lobehub/lobe-chat:latest}
    container_name: ${NAME:-lobe-chat}
    restart: ${RESTART:-unless-stopped}

    labels:
      - com.centurylinklabs.watchtower.enable=true
      - com.ouroboros.enable=true
      - autoheal-app
      - autoheal-app=true
      - homarr-app=true
      - homarr

    environment:
      - PUID=${PUID:-1000}
      - PGID=${PGID:-1000}
      - TZ=${TZ:-Europe/Amsterdam}
      - PORT=${PORT:-3210}
      - ACCESS_CODE=lobe-chat
      - OPENAI_API_KEY=sk-xxxx
      # - OPENAI_PROXY_URL=https://api-proxy.com/v1

    volumes:
      # - /etc/localtime:/etc/localtime:ro
      # - /etc/timezone:/etc/timezone:ro
      - /var/run/docker.sock:/var/run/docker.sock

    hostname: ${NAME:-lobe-chat}

    networks:
      host:
      ai-services:

    env_file:
      - ./lobe-chat/.env

    ports:
      - ${PORT:-3210}:3210

    tty: true

    stdin_open: true

    # healthcheck:
    # test:
    #   [
    #     CMD,
    #     wget,
    #     --no-verbose,
    #     --tries=3,
    #     --spider,
    #     http://localhost:${PORT:-3210}/api/health,
    #   ]
    #   interval: 30s
    #   timeout: 10s
    #   start_period: 30s
    #   retries: 3

    logging:
      driver: json-file
      options:
        max-size: 10m
        max-file: 3
